#template-container {
	margin-left: 170px;
}

.TTImageContainer {
	position: relative;
	width: 550px;
	height: 700px;
	cursor: crosshair;
}

.TTImage {
	overflow: hidden;
	position: relative;
	width: 550px;
	height: 700px;
}

#answer {
	width: 595px;
}

#image-container {
	width: 550px;
	height: 700px;
	margin-left: 20px;
}

#loading-container {
	position: absolute;
	margin-left: 225px;
	margin-top: 225px;
}

#disqus_thread {
	width: 595px;
	margin-top: 20px;
}

#button_help {
	float: right;
}

#bug_report_div {
	display: none;
	border-width: 1px;
	border-style: dashed;
	margin-left: 20px;
	width: 552px;
}

#bug_report_question {
	text-align: center;
}

#button_share {
	float: right;
	margin-right: 4px;
	height: 30px;
	width: 40px;
}

#share-container {
	position: absolute;
}

#share-menu {
	display: none;
	position: absolute;
}

.popover-content{
	display: none;
}

#throbber {
	padding: 10px;
	position: absolute;
	left: 50%;
	top: 10%;
	margin: -50px 0 0 -50px;
	z-index: 10000;
	width: 100px;
	height: 100px;
}

#alert-container p {
	margin-bottom: 0px;
}


#alert-container {
	width: 595px;
	height: 50px;
}

#alert-container p {
	margin-bottom: 0px;
	text-align: center;
}

