.TTImageContainer {

	position: relative;
	width: 550px;
	height: 700px;
	cursor: crosshair;
}

.TTImage{
	overflow: hidden;
	position: relative;
	width: 550px;
	height: 700px
	
}

#answer {
	width: 595px;
}

#image-container {
	width: 550px;
	height: 700px;
	margin-left: 20px;
	display: block;
}

#disqus_thread {
	width: 595px;
	margin-top: 20px;
}

#button_help {
	font-size: 20px;
	float: right;
}

#button_share {
	font-size: 20px;
	float: right;
	margin-right: 4px;
}

#share-container {
	position: absolute;
}

#share-menu {
	display: none;
	position: absolute;
}

.popover-content{
	display: none;
}
