canvas {
	border: 1px solid #9C9898;
}

#loading-container {
	position: absolute;
	margin-left: 190px;
	margin-top: 100px;
}

#toolbar {
	margin-bottom: 10px;
}

#toolbar button {
	width: 55px;
	height: 35px;
	font-size: 14px;
}

#toolbar .tooltip-inner {
	max-width: none;
}

#button_bug_report {
	margin-right: 4px;
}

#bug_report_div {
	display: none;
	border-width: 1px;
	border-style: dashed;
	margin-left: 20px;
	width: 920px;
}

#bug_report_question {
	text-align: center;
}

div.container {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.task-info {
	float: right;
	width: 325px;
	height: 400px;
	margin-bottom: 10px;
}

.button-finished {
	height: 80px;
	width: 260px;
	font-size: 20px;
	margin: 0px auto;
	display: block;
}

.task-info-rotated {
	float: left;
	width: auto;
}

.instruction-rotated {
	float: left;
	width: 380px;
	display: inline-block;
}

.button-finished-rotated {
	height: 80px;
	width: 260px;
	font-size: 20px;
	margin-left: 15px;
	float: left;
}

#instruction {
	padding-right: 14px;
	margin-top: 10px;
}

#alert-container {
	width: 540px;
	height: 50px;
}

#alert-container p {
	margin-bottom: 0px;
	text-align: center;
}

.popover {
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.7);
	max-width: 200px;
}

.popover.left .arrow:after {
	border-left-color: rgba(0, 0, 0, 1);
}

.popover.top .arrow:after {
	border-top-color: rgba(0, 0, 0, 1);
}

.popover.right .arrow:after {
	border-right-color: rgba(0, 0, 0, 1);
}

.popover.bottom .arrow:after {
	border-bottom-color: rgba(0, 0, 0, 1);
}
