#template-container {
	margin-left: 170px;
	width: 595px;
}

.ttImage {
	width: 550px;
	height: 700px;
	border: 1px solid;
}

#image-container {
	width: 550px;
	height: 700px;
	margin-left: 20px;
	display: table;
}

#loading-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#button_help {
	float: right;
	margin-right: 4px;
	height: 30px;
}

#button_bug_report {
	float: right;
	height: 30px;
}

#button_share {
	float: right;
	margin-right: 4px;
	height: 30px;
	width: 40px
}

#answer {
	width: 595px;
}

#bug_report_div {
	display: none;
	border-width: 1px;
	border-style: dashed;
	margin-left: 20px;
	width: 552px;
}

#bug_report_question {
	text-align: center;
}

#disqus_thread {
	width: 595px;
	margin-top: 20px;
}

#share-container {
	position: absolute;
}

#share-menu {
	display: none;
	position: absolute;
}

.popover-content{
	display: none;
}

#alert-container {
	width: 595px;
	height: 50px;
}

#alert-container p {
	margin-bottom: 0px;
	text-align: center;
}

#answer {
	margin-bottom: 10px;
}
