#template-container {
	margin-left: 170px;
}

.ttImage {
	width: 550px;
	height: 700px;
	border: 1px solid;
}

#image-container {
	width: 550px;
	height: 700px;
	margin-left: 20px;
	display: table;
}

#loading-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#button_help {
	font-size: 20px;
	float: right;
}

#button_share {
	font-size: 20px;
	float: right;
	margin-right: 4px;
}

#answer {
	width: 595px;
}

#disqus_thread {
	width: 595px;
	margin-top: 20px;
}

#share-container {
	position: absolute;
}

#share-menu {
	display: none;
	position: absolute;
}

.popover-content{
	display: none;
}

#alert-container {
	width: 595px;
	height: 50px;
}

#alert-container p {
	margin-bottom: 0px;
	text-align: center;
}

