#table-viewer {
	float: left;
	overflow: auto;
	position: relative;
}

#cell-viewer {
	width: 400px;
	height: 150px;
	border: 1px solid black;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

#canvas-cell-container {
	width: 400px;
	height: 150px;
	padding-right: 15px;
	padding-bottom: 15px;
	overflow: auto;
}

#right-panel {
	float: right;
	width: 400px;
	margin: auto;
}

#toolbar {
	float: left;
}

#toolbar .tooltip-inner {
	max-width: none;
}

#toolbar button {
	width: 55px;
	height: 35px;
	font-size: 18px;
}

#button-finished-task {
	margin-left: 202px;
	height: 35px;
}

#button-finished-transcription {
	display: block;
	height: 35px;
	margin-bottom: 10px;
}
