#table-viewer {
	width: 515px;
	height: 600px;
	border: 1px solid black;
	float: left;
	overflow: auto;
	position: relative;
}

#right_panel {
	float: right;
	width: 400px;
	margin: auto;
}

#toolbar {
	float: left;
}

#toolbar .tooltip-inner {
	max-width: none;
}

#toolbar button {
	width: 55px;
	height: 35px;
	font-size: 18px;
}

#button_finished_task {
	margin-left: 202px;
	height: 35px;
}

#button_finished_transcription {
	display: block;
	height: 35px;
	margin-bottom: 10px;
}
