<style>
.long-description-paragraph {
	width: 80%;
}
</style>

<div class="row">
	<div class="span12">
		<p class="long-description-paragraph">
			O Mem&oacute;ria Estat&iacute;stica do Brasil - Estrutura é uma aplicação para o pybossa que
			visa a correção da estrutura de tabelas de documentos históricos do
			Brasil escaneados pela <a href="http://memoria.org.br/o_projeto.php"
				target="_blank">Biblioteca do Ministério da Fazenda (BMF-RJ)</a>.

		</p>
		<p class="long-description-paragraph">Esta aplicação utiliza
			imagens de documentos históricos digitalizados e visa a preparação
			dessas imagens para futuras tarefas. O objetivo final é mapear todas
			as células contidas numa tabela.</p>

	</div>
</div>
<div class="row">
	<div class="span9">
		<p class="long-description-paragraph">O que precisa ser feito
			nessa tarefa é ajustar as linhas e colunas que foram reconhecidas
			automaticamente por um computador.</p>
		<p class="long-description-paragraph">A aplicação possui as
			seguintes ações:
		<ul>
			<li><a href="#" rel="tooltip"
				title="Seleciona as linhas e colunas atrav&eacute;s do clique simples.">Seleção
					de segmentos</a></li>
			<li><a href="#" rel="tooltip"
				title="Seleciona as linhas e colunas de uma regi&atilde;o.">Seleção
					em área</a></li>
			<li><a href="#" rel="tooltip"
				title="Arrasta um segmento para ajustar sua posi&ccedil;&atilde;o.">Mover
					um segmento</a></li>
			<li><a href="#" rel="tooltip"
				title="Remove os segmentos selecionados (atalho DEL).">Remoção
					de segmentos</a></li>
			<li><a href="#" rel="tooltip"
				title="Desenha novas linhas e colunas.">Adição de segmentos</a></li>
			<li><a href="#" rel="tooltip"
				title="Divide uma linha ou coluna no ponto de intersec&ccedil;&atilde;o mais pr&oacute;ximo.">Partição
					de segmentos</a></li>
		</ul>
	</div>
	<div class="span2">
        <ul class="thumbnails">
            <li class="span2">
            <img class="thumbnail" src="#server/images/long_description_struct.png">
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
	$("[rel=tooltip]").tooltip();
</script>
