O projeto Memória Estatística do Brasil (MEB) está selecionando,
digitalizando e transcrevendo para arquivos editáveis, publicações
históricas relevantes para a história estatística do Brasil. Estas
publicações, no momento vindas da [Biblioteca do Ministério da Fazenda
no Rio de Janeiro (BMF/RJ)](http://memoria.org.br/o_projeto.php), têm a
memória estatística do Brasil nas áreas de demografia, economia,
finanças, administração pública, transporte, educação, saúde, entre outras.

---
###**Qual a importância de conservar a Memória Estatística do Brasil? (veja o vídeo abaixo)**

[![](http://img.youtube.com/vi/U1h0kOUjzGM/0.jpg)](http://www.youtube.com/watch?v=U1h0kOUjzGM)

