<style>
.long-description-paragraph {
	width: 80%;
}
</style>

<div class="row">
	<div class="span12">
		<p class="long-description-paragraph">
			O Mem&oacute;ria Estat&iacute;stica do Brasil - Transcrição é uma aplicação para o pybossa que
			visa a transcrição de tabelas em documentos históricos do Brasil,
			escaneados pela <a href="http://memoria.org.br/o_projeto.php"
				target="_blank">Biblioteca do Ministério da Fazenda (BMF-RJ)</a>.

		</p>
		<p class="long-description-paragraph">Esta aplicação utiliza
			imagens de tabelas contidas em documentos históricos digitalizados e
			necessita da transcrição dos dados contidos nessas tabelas. O
			objetivo final é conseguir que todas as tabelas contidas nesses
			documentos sejam disponibilizadas para consulta.</p>

	</div>
</div>
<div class="row">
	<div class="span9">
		<p class="long-description-paragraph">O que precisamos que seja
			feito nessa tarefa é a transcrição dos dados contidos nas tabelas.</p>
		<p class="long-description-paragraph">A aplicação possui a
			seguintes ações:
		<ul>
			<li><a href="#" rel="tooltip"
				title="Quando desejar ir para outra tarefa, tendo terminado ou não a tarefa atual.">Salvar
					correções</a></li>
			<li><a href="#" rel="tooltip"
				title="Ok, quando terminar de transcrever a célula atual.">Ok</a></li>
		</ul>
	</div>
	<div class="span2">
		<ul class="thumbnails">
			<li class="span2"><img class="thumbnail"
				src="#server/images/long_description_transcribe.png"></li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	$("[rel=tooltip]").tooltip();
</script>
