<style>
.long-description-paragraph {
	width: 80%;
}
</style>

<div class="row">
	<div class="span12">
		<p class="long-description-paragraph">
			O Mem&oacute;ria Estat&iacute;stica do Brasil - Seleção é uma aplicação que objetiva
			identificação de tabelas em documentos históricos do Brasil,
			escaneados pela <a href="http://memoria.org.br/o_projeto.php"
				target="_blank">Biblioteca do Ministério da Fazenda (BMF-RJ)</a>.

		</p>
		<p class="long-description-paragraph">Esta aplicação utiliza
			imagens de documentos históricos digitalizados e visa a seleção
			dessas imagens para processamento. O objetivo final é conseguir que
			todas as tabelas contidas nesses documentos sejam disponibilizadas
			para consulta.</p>

	</div>
</div>
<div class="row">
	<div class="span9">
		<p class="long-description-paragraph">O que precisamos que seja
			feito nessa tarefa é a identificação de páginas com tabela nos livros
			digitalizados.</p>
		<p class="long-description-paragraph">A aplicação possui as
			seguintes ações:
		<ul>
			<li>Sim</li>
			<li>Não e</li>
			<li><a href="#" rel="tooltip"
				title="Algumas vezes você pode ficar em dúvida se o que está
            			visualizando é uma tabela ou não, então caso prefira, pode optar por marcar essa opção.">Não
					sei</a></li>
		</ul>
	</div>
	<div class="span2">
		<ul class="thumbnails">
			<li class="span2"><img class="thumbnail"
				src="#server/images/long_description_selection.png"></li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	$("[rel=tooltip]").tooltip();
</script>
