<div id="template-container">
<div class="row">
	<div id="alert-container" class="span7" style="height: 50px">
		<div id="success" class="alert alert-success" style="display: none;">
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="finish" class="alert alert-success" style="display: none;">
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="error" class="alert alert-error" style="display: none;">
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="workflowtask" class="alert alert-success"
			style="display: none; text-align: center; cursor: pointer; position: relative; margin-top: 5px;"></div>
	</div>
</div>

<div class="skeleton">
	<h1 id="question"></h1>
</div>

<div class="skeleton">
	<!-- Answer buttons -->
	<div id="answer">
		<button id="button_yes" class="btn btn-success"
			onclick="submitTask('Yes')">
			<i class="icon icon-white icon-ok"></i>
		</button>
		<button id="button_no" class="btn btn-danger"
			onclick="submitTask('No')">
			<i class="icon icon-white icon-remove"></i>
		</button>
		<button id="button_ntk" class="btn" onclick="submitTask('NotKnown')"></button>
		<button id="button_help" class="btn help" data-toggle="modal" rel="tooltip" title="Abre a tela de ajuda"
			onclick="showHelpSelect()">
			<i class="icon icon-question-sign"></i>
		</button>
		<button id="button_share" class="btn" rel="tooltip" title="Compartilhe algo interessante da página abaixo" onclick="share()">
			<img class="icon" style="width: 20px"
				src="#server/images/share_icon.png"></img>
		</button>

		<div style="margin-top:10px; margin-bottom: 10px;">
			<span id="progress-from">#</span><span id="done"
				class="label label-info" style="margin-right: 5px"></span><span
				id="progress-to">#</span>
			<!-- Progress bar for the user -->
			<span id="total" class="label label-inverse"></span>
		</div>
		<div class="progress progress-striped">
			<div id="progress" rel="tooltip" class="bar"
				style="width: 0%;"></div>
		</div>
	</div>
</div>

<div id="image-container" class="skeleton" rel="popover" title="Clique e arraste o mouse sobre uma área da tabela para compartilhar.">
	<a id="image-link" href="#" target="_blank" style="float: left;"> 
		<img id="image" class="ttImage" src="#" onload="$.unblockUI();">
	</a>
	<div id="share-container">
		<ul id="share-menu" class="dropdown-menu" role="menu">
		  <li><a style="padding: 3px 12px;" onclick="shareOnFacebook()"> 
			<img class="icon" style="width: 20px; margin-right: 3px;" src="#server/images/social_facebook.png"></img>
			Facebook
		      </a>
		  </li>
		</ul>
		<div id="share-canvas-container"></div>
	</div>
</div>

<div id="helpModalSelect" class="modal hide fade" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	style="display: none">

	<div class="modal-header">
		<button class="close" data-dismiss="modal" aria-hidden="true">
			<i class="icon-white icon-remove"></i>
		</button>
		<h3 id="myModalLabel">
			<strong>Tutorial de Seleção de Tabelas</strong>
		</h3>
	</div>

	<div class="modal-body">
		<h2>O que deve ser feito?</h2>
		<p>A tarefa consiste em selecionar as páginas em que existe pelo
			menos uma tabela.</p>
		<br>
		<p>
			<strong style="color: red">Atenção</strong>
		</p>
		<p>- Caso esteja visível apenas uma parte da tabela confirme que
			existe uma tabela na página.</p>
		<p>- Caso você tenha alguma dúvida se existe ou não uma tabela na
			página, envie um feedback com sua dúvida no campo logo abaixo da
			página.</p>
		<br>
		<h2>O que devo considerar uma tabela?</h2>
		<p>Você deve considerar uma tabela qualquer estrutura que possua
			dados sobre economia, geografia, demografia ou outra matéria para
			fins estatísticos.</p>
		<p style="color:red">Índices e sumários dos livros não são considerados
			tabelas válidas para nossa aplicação.</p>
		<br>
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
	</div>
</div>
</div>

<script src="#server/js/kinetic.js"></script>
<script type="text/javascript" src="#server/js/share.js"></script>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" src="#server/js/jquery.i18n.min.js"></script>
<script type="text/javascript" src="#server/js/tt-select-i18n.js"></script>
<script type="text/javascript" src="#server/js/jquery.blockUI.js"></script>

<link rel="stylesheet" type="text/css" href="#server/css/tt-select.css" />

<script type="text/javascript" charset="utf-8">

	var task_shortname = "#task_shortname#";
	var endpoint = "/pybossa";

	function showHelpSelect() {
		$("#helpModalSelect").modal();
	}

	$("[rel=tooltip]").tooltip();
	$("[rel=popover]").popover({"trigger": "manual"});

	$("#template-container").ready(function() {
		$("#question").text($.i18n._('question'));

		$("#button_yes").text($.i18n._('button_yes'));
		$("#button_yes").button({
			icons : {
				primary : "icon icon-white icon-ok"
			}
		});

		$("#button_no").text($.i18n._('button_no'));
		$("#button_no").button({
			icons : {
				primary : "icon icon-white icon-remove"
			}
		});

		$("#button_ntk").text($.i18n._('button_ntk'));

		$("#success strong").text($.i18n._('well_done'));
		$("#success span:nth-child(2)").text($.i18n._('saved'));
		$("#finish strong").text($.i18n._('congratulations'));
		$("#finish span:nth-child(2)").text($.i18n._('finished'));
		$("#error strong").text($.i18n._('error'));
		$("#error span:nth-child(2)").text($.i18n._('err_msg'));
		$("#workflowtask").text($.i18n._('workflowtask'));
		$("#progress-from").text($.i18n._('progress-from'));
		$("#progress-to").text($.i18n._('progress-to'));

	}); //Internationalization using jquery.i18n

	function loadUserProgress() {
		pybossa.userProgress(task_shortname).done(function(data) {
			var pct = Math.round((data.done * 100) / data.total);
			$("#progress").css("width", pct.toString() + "%");
			
			$("#progress").tooltip('destroy');
			$("#progress").attr("data-original-title", pct.toString() + "% completed!");
			$("#progress").tooltip({
				'placement' : 'left'
			});
			$("#total").text(data.total);
			$("#done").text(data.done);
		});
	}

	function taskRunDone(taskId) {
		$.ajax({
			url : '/mb/api/' + taskId + '/done',
			success : function(data) {
				enableNextTask(taskId);
			}
		});
	}

	function enableNextTask(taskId) {
		$.ajax({
			url : '/mb/api/' + taskId + '/available_tasks',
			success : function(data) {
				if (data == "True") {
					$("#workflowtask").fadeIn(200);
				}
			}
		});

		$("#workflowtask").click(
				function() {
					redirectToANewTask("tt2");
				});
	}

	function loadData(data) {
		if (!$.isEmptyObject(data.task)) {
			loadUserProgress();
			task_id = data.task.id;
			$("#image-link").attr("href", data.task.info.url_b);
			$("#image").attr("src", data.task.info.url_m);
			pybossa.getCurrentUserId(function(userId) {
				initSharer(task_id, userId);	
			});
		} else {
			$(".skeleton").hide();
			$("#finish").fadeIn(
					100,
					function() {
						setTimeout(function() {
							redirectToANewTask(getARandomTask());
						}, 1500);
					});
		}
		if ($("#button_share").hasClass("active")) {
			disableShare();			
		}
	}
	
	function redirectToANewTask(taskSufix) {
		window.open(endpoint
				+ "/app/"
				+ task_shortname
						.replace("_tt1", "_" + taskSufix)
				+ "/newtask", "_self");
	}

	function getARandomTask() {
		var nextTaskArr = ["tt2", "tt3", "tt4"];
		//return nextTaskArr[getRandomInt(0,nextTaskArr.length-1)];
		return "tt2";
	}

	function getRandomInt(min, max) {
	    return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	// Function to submit and save the TaskRun in PyBossa
	function submitTask(answer) {
		// Get the task-id
		taskid = task_id;

		// Save the task
		pybossa.saveTask(taskid, answer).done(function(data) {
			//Call tt workflow api.
			taskRunDone(taskid);

			$.blockUI({
				message : $("#success"),
				css : {
					height : $("#success").height()
				}
			});
			// Load a new task
			pybossa.newTask(task_shortname).done(function(data) {
				loadData(data);
			});
		});
	}

	pybossa.setEndpoint(endpoint);
	pybossa.newTask(task_shortname).done(function(data) {
		loadData(data)
	});
</script>