<div id="template-container">
<div class="row">
	<div id="alert-container" class="span7" style="height: 50px">
		<div id="success" class="alert alert-success" style="display: none;">
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="finish" class="alert alert-success" style="display: none;">
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="error" class="alert alert-error" style="display: none;">
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="workflowtask" class="alert alert-success"
			style="display: none; text-align: center; cursor: pointer; position: relative; margin-top: 5px;"></div>
	</div>
</div>

<div class="row skeleton">
	<!-- Start Skeleton -->
	<div class="span9">
		<h1 id="question"></h1>
		<!-- The question will be loaded here -->
		<p>
			<span id="progress-from">#</span><span id="done"
				class="label label-info" style="margin-right: 5px"></span><span
				id="progress-to">#</span>
			<!-- Progress bar for the user -->
			<span id="total" class="label label-inverse"></span>
		</p>
		<div class="progress progress-striped"
			style="width: 540px; margin-bottom: 10px;">
			<div id="progress" rel="tooltip" class="bar"
				style="width: 0%;"></div>
		</div>
	</div>
</div>
<!-- End of Skeleton -->

<div class="skeleton">

	<div id="toolbar" class="btn-group">
		<button id="button_select" class="btn" rel="tooltip"
			title=""
			onclick="handleSelectionToolEvent()">
			<img class="icon" style="width: 20px"
				src="#server/images/select_tool.png"></img>
		</button>
		<button id="button_area" class="btn" rel="tooltip"
			title=""
			onclick="handleAreaSelectionToolEvent()">
			<img class="icon" style="width: 20px"
				src="#server/images/area_tool.png"></img>
		</button>
		<button id="button_add" class="btn" rel="tooltip"
			title=""
			onclick="handleAddToolEvent()">
			<img class="icon" style="width: 16px"
				src="#server/images/add_tool.png"></img>
		</button>
		<button id="button_split" class="btn" rel="tooltip"
			title=""
			onclick="handleSplitToolEvent()">
			<img class="icon" style="width: 18px"
				src="#server/images/split_tool.png"></img>
		</button>
		<button id="button_remove" class="btn" rel="tooltip"
			title=""
			onclick="handleRemoveToolEvent()">
			<i class="icon icon-trash"></i>
		</button>
		<button id="button_help" class="btn" rel="tooltip"
			title="" onclick="showHelpStruct()">
			<i class="icon icon-question-sign"></i>
		</button>
	</div>

	<div id="canvas-container" style="float: left;"></div>

	<div id="task-info" class="task-info" style="display: none;">
		<div id="instruction" class="alert alert-info" style="padding-right: 14px;">
			<h5 id="task-instruction">
				<span id="task-instruction-p1"></span><br>
				<ul>
					<li><span class="task-instruction-use-tool"></span><img class="icon" style="width: 20px"
						src="#server/images/select_tool.png"></img><span id="task-instruction-p2"></span>
					</li>
					<li><span class="task-instruction-use-tool"></span><img class="icon" style="width: 20px"
						src="#server/images/area_tool.png"></img><span id="task-instruction-p3"></span>
					</li>
					<li><span id="task-instruction-p4-1"></span><i class="icon icon-trash"
						style="color: #333333; font-size: 18px;"></i><span id="task-instruction-p4-2"></span>
					</li>
					<li><span id="task-instruction-p5-1"></span><img class="icon"
						style="width: 16px; margin-bottom: 2px;"
						src="#server/images/add_tool.png"></img><span id="task-instruction-p5-2"></span>
					</li>
					<li><span class="task-instruction-use-tool"></span><img class="icon"
						style="width: 18px; margin-bottom: 2px;"
						src="#server/images/split_tool.png"></img><span id="task-instruction-p6"></span>
					</li>
					<li><span id="task-instruction-p7-1"></span><i class=" icon-question-sign"
						style="color: #333333"></i><span id="task-instruction-p7-2"></span>
					</li>
				</ul>
			</h5>
		</div>
		<button id="button_finished" class="btn btn-success"
			onclick="submitTask()">
			<i class="icon icon-white icon-ok" style="margin-right: 10px;"></i><span>#</span>
		</button>
	</div>
</div>

<div id="helpModalStruct" class="modal hide fade" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	style="display: none">

	<div class="modal-header">
		<button class="close" data-dismiss="modal" aria-hidden="true">
			<i class="icon-white icon-remove"></i>
		</button>
		<h3 id="myModalLabel">
			<strong>Tutorial de Correção da Estrutura das Tabelas</strong>
		</h3>
	</div>

	<div class="modal-body">
		<h2>O que deve ser feito?</h2>
		<p>A tarefa consiste em corrigir as linhas e colunas de uma tabela
			ou de uma seção em foco da tabela. Precisamos que você marque a
			estrutura da tabela para que posteriormente façamos o reconhecimento
			óptico do conteúdo de cada célula da tabela.</p>
		<p>A grade apresentada pode não ser muito bem desenhada devido à
			falta de padronização existente na criação das tabelas
			historicamente. A maioria das tabelas do projeto são tabelas antigas,
			datadas desde o século XIX.</p>
		<br>
		<p>
			<strong style="color: red;">Atenção</strong>
		</p>
		<ul>
			<li><strong>Caso uma célula esteja cortada, marque os
					lados da célula que conseguir visualizar na tarefa.</strong></li>
			<li>Observe o cabeçalho da tabela, geralmente eles não possuem
				uma estrutura bem definida.</li>
			<li>Não se esqueça de observar se existem ou não subcélulas na
				tabela: elas também devem ser marcadas.</li>
			<li>Ainda que a célula não possua nenhum conteúdo, privilegie a
				formação da tabela e marque-a também.</li>
			<li>Não se preocupe se a borda da linha cobrir um pouco o conteúdo da célula.</li>
			<li>Caso você tenha alguma dúvida envie um feedback com sua
				dúvida no campo logo abaixo da página.</li>
		</ul>
		<br>
		<h2>Como devo marcar a estrutura da tabela?</h2>
		<p>Inicialmente será apresentada uma grade com as linhas e colunas
			identificadas por um software de visão computacional. Você pode
			mover, dividir e apagar as linhas e colunas fornecidas, e adicionar
			novas para identificar a estrutura completa da tabela.</p>
		<br>
		<h2>Ferramentas de edição</h2>
		<dl>
			<dt>
				Seleção de segmentos <img class="icon" style="width: 20px"
					src="#server/images/select_tool.png"></img>
			</dt>
			<dd>
				Ferramenta que permite selecionar linhas e colunas através do clique
				simples. Quando selecionada, a linha ou coluna muda para a cor azul, e o seu início e fim são destacados de preto.
				<p>É possível selecionar mais de uma linha ou coluna se o SHIFT
					estiver pressionado.</p>
			</dd>
		</dl>
		<dl>
			<dt>
				Seleção em área <img class="icon" style="width: 20px"
					src="#server/images/area_tool.png"></img>
			</dt>
			<dd>
				Ferramenta que permite selecionar as linhas e colunas de uma região.
				Clique e arraste o mouse para demarcar a região a ser selecionada.
				<p>
					<strong>Observação:</strong> um segmento só será selecionado se o
					mesmo estiver completamente na área de seleção.
				<p>
			</dd>
		</dl>
		<dl>
			<dt>
				Remoção de segmentos <i class="icon icon-trash"
					style="color: #333333; font-size: 18px;"></i>
			</dt>
			<dd>Ferramenta que remove os segmentos selecionados. Essa função
				pode ser usada alternativamente através do atalho DEL.</dd>
		</dl>
		<dl>
			<dt>
				Adição de segmentos <img class="icon"
					style="width: 16px; margin-bottom: 2px;"
					src="#server/images/add_tool.png">
			</dt>
			<dd>
				Ferramenta para desenho de novas linhas e colunas. Clique e arraste
				o mouse sobre uma região da tabela para criá-las.
				<p>Se o segmento desenhado for predominantemente horizontal, uma
					linha será criada. Caso esse segmento tenda a uma orientação
					vertical, uma coluna será criada.</p>
			</dd>
		</dl>
		<dl>
			<dt>
				Partição de segmentos <img class="icon"
					style="width: 18px; margin-bottom: 2px;"
					src="#server/images/split_tool.png"></img>
			</dt>
			<dd>Ferramenta que divide uma linha ou coluna no ponto de
				intersecção mais próximo. Quando particionados, os sub-segmentos
				podem ser manipulados independentemente.</dd>
		</dl>
		<br>
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
	</div>
</div>
</div>

<script src="#server/js/kinetic.js"></script>
<script type="text/javascript" src="#server/js/jquery.i18n.min.js"></script>
<script type="text/javascript" src="#server/js/tt-struct-i18n.js"></script>
<script type="text/javascript" src="#server/js/jquery.blockUI.js"></script>
<script type="text/javascript" charset="utf-8" src="#server/js/tt3.js"></script>

<link rel="stylesheet" type="text/css" href="#server/css/tt-struct.css" />

<script type="text/javascript" charset="utf-8">
	var taskid;
	var serverName = "#server";
	var minCanvasWidth = 540;
	var minCanvasHeight = $("#task-info").height();
	var minTaskInfoWidth = 325;

	function showHelpStruct() {
		$('#helpModalStruct').modal();
	}

	$("#template-container").ready(function() {
		$("#question").text($.i18n._('question'));
		$("#question span:first").text($.i18n._('task_name'));
		$("#button_finished span:first").text($.i18n._('button_finished'));
		$("#success strong").text($.i18n._('well_done'));
		$("#success span:nth-child(2)").text($.i18n._('saved'));
		$("#finish strong").text($.i18n._('congratulations'));
		$("#finish span:nth-child(2)").text($.i18n._('finished'));
		$("#error strong").text($.i18n._('error'));
		$("#error span:nth-child(2)").text($.i18n._('err_msg'));
		$("#workflowtask").text($.i18n._('workflowtask'));
		$("#progress-from").text($.i18n._('progress-from'));
		$("#progress-to").text($.i18n._('progress-to'));
		
		$(".task-instruction-use-tool").html($.i18n._('task-instruction-use-tool'));
		$("#task-instruction-p1").html($.i18n._('task-instruction-p1'));
		$("#task-instruction-p2").html($.i18n._('task-instruction-p2'));
		$("#task-instruction-p3").html($.i18n._('task-instruction-p3'));
		$("#task-instruction-p4-1").html($.i18n._('task-instruction-p4-1'));
		$("#task-instruction-p4-2").html($.i18n._('task-instruction-p4-2'));
		$("#task-instruction-p5-1").html($.i18n._('task-instruction-p5-1'));
		$("#task-instruction-p5-2").html($.i18n._('task-instruction-p5-2'));
		$("#task-instruction-p6").html($.i18n._('task-instruction-p6'));
		$("#task-instruction-p7-1").html($.i18n._('task-instruction-p7-1'));
		$("#task-instruction-p7-2").html($.i18n._('task-instruction-p7-2'));
		
		$("#button_select").attr("title", $.i18n._('button_select'));
		$("#button_area").attr("title", $.i18n._('button_area'));
		$("#button_add").attr("title", $.i18n._('button_add'));
		$("#button_split").attr("title", $.i18n._('button_split'));
		$("#button_remove").attr("title", $.i18n._('button_remove'));
		$("#button_help").attr("title", $.i18n._('button_help'));
		$("[rel=tooltip]").tooltip();
	});

	function loadUserProgress() {
		pybossa.userProgress(task_shortname).done(function(data) {
			var lastTask = (data.done + 1) == data.total;
			var pct = Math.round((data.done * 100) / data.total);
			$("#progress").css("width", pct.toString() + "%");
			$("#progress").tooltip('destroy');
			$("#progress").attr("data-original-title", pct.toString() + "% " + $.i18n._('completed'));
			$("#progress").tooltip({
				'placement' : 'left'
			});
			$("#total").text(data.total);
			$("#done").text(data.done);
		});
	}

	function taskRunDone(taskId) {
		$.ajax({
			url : '/mb/api/' + taskId + '/done',
			success : function(data) {
				enableNextTask();
			}
		});
	}

	function enableNextTask() {
		$("#workflowtask").fadeIn(200);
	}

	function redirectToANewTask(taskSufix) {
		window.open(endpoint
				+ "/app/"
				+ task_shortname
						.replace("_tt3", "_" + taskSufix)
				+ "/newtask", "_self");
	}
	
	function getARandomTask() {
		var nextTaskArr = ["tt1", "tt2", "tt4"];
		return nextTaskArr[getRandomInt(0,nextTaskArr.length-1)];
	}

	function getRandomInt(min, max) {
	    return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	$("#workflowtask").click(
			function() {
				redirectToANewTask(getARandomTask());
			});

	var task_shortname = "#task_shortname#";
	var endpoint = "/pybossa";

	function loadData(data) {

		if (!$.isEmptyObject(data.task)) {
			loadUserProgress();

			var hasZoom = data.task.info.hasZoom;
			var question = $.i18n._('question');

			if (hasZoom)
				question = $.i18n._('question_with_focus');

			$("#question").text(question);
			taskid = data.task.id;

			initGrid(data.task.info, minCanvasWidth, minCanvasHeight,
					serverName);
			configureUI();
		} else {
			$(".skeleton").hide();
			$("#finish").fadeIn(
					100,
					function() {
						setTimeout(function() {
							redirectToANewTask(getARandomTask());
						}, 2500);
					});
		}
	}

	function configureUI() {
		var containerWidth = $(".container").width();
		var taskInfoWidth = containerWidth - getCanvasWidth();

		if (taskInfoWidth < minTaskInfoWidth) {
			$('#task-info').removeClass('task-info');
			$('#button_finished').removeClass('button-finished');

			$('#task-info').addClass('task-info-rotated');
			$('#instruction').addClass('instruction-rotated');
			$('#button_finished').addClass('button-finished-rotated');

		} else {
			$('#task-info').removeClass('task-info-rotated');
			$('#instruction').removeClass('instruction-rotated');
			$('#button_finished').removeClass('button-finished-rotated');

			$('#task-info').addClass('task-info');
			$("#task-info").css("width", taskInfoWidth);
			$('#button_finished').addClass('button-finished');
		}
		$("#task-info").show();
	}

	// Function to submit and save the TaskRun in PyBossa
	function submitTask() {
		var answer = getGridLinesAnswer();

		pybossa.saveTask(taskid, answer).done(function(data) {
			//Call tt workflow api
			taskRunDone(taskid);

			clearCanvas();

			$.blockUI({
				message : $("#success"),
				css : {
					height : $("#success").height()
				}
			});

			setTimeout(function() {
				$.unblockUI();
			}, 1500);

			// Load new task
			pybossa.newTask(task_shortname).done(function(data) {
				loadData(data);
			});
		});
	}

	pybossa.setEndpoint(endpoint);
	pybossa.newTask(task_shortname).done(function(data) {
		loadData(data);
	});
</script>