<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">


<div class="row" style="margin-left: 10px;">

  <div class="span6" style="height:50px">

    <div id="success" class="alert alert-success" style="display:none;">
	   	<a class="close">x</a>
	    <p><span><strong>#</strong></span><span>#</span></p>
    </div>
    <div id="finish" class="alert alert-success" style="display:none;">
      <p><span><strong>#</strong></span><span>#</span></p>
      <!--
      <br/>
      <div class="alert-actions">
              <a id="back" class="btn small" href="/">#</a>
              <a id="other_apps" class="btn small" href="/app">#</a>
      </div>
      -->
    </div>
    <div id="error" class="alert alert-error" style="display:none;">
         <a class="close">x</a>
         <p><span><strong>#</strong></span><span>#</span></p>
    </div>
    <div id="workflowtask" class="alert alert-success" style="display:none; text-align: center; cursor:pointer; position:relative; margin-top: 5px;"></div>
  </div> <!-- End Success and Error Messages for the user -->
</div>

<div class="row skeleton">  <!-- Start Skeleton -->
	<div class="span9">
	    <h1 id="question"></h1> <!-- The question will be loaded here -->
	<!-- <p><span>#</span><span id="task-id" class="label label-warning">#</span></p> -->
	    <p><span id="progress-from">#</span><span id="done" class="label label-info" style="margin-right: 5px"></span><span id="progress-to">#</span>
	    <!-- Progress bar for the user -->
	    <span id="total" class="label label-inverse"></span></p>
	    <div class="progress progress-striped" style="width: 520px">
	     	  <div id="progress" rel="tooltip" title="#" class="bar" style="width: 0%;"></div>
	    </div>
	</div>
</div><!-- End of Skeleton -->

<div class="skeleton">

	<!-- <img id="loading" src="#server/images/loading.gif"/> -->

		<div id="context-menu">
		  <ul id="remover-menu" class="dropdown-menu">
		    <li><a id="remover-linha-coluna" class="menu-item" tabindex="1" href="#">Remover linha/coluna</a></li>
		    <li><a id="remover-segmento" class="menu-item" tabindex="2" href="#">Remover segmento</a></li>
		    <li><a id="adicionar-linha" class="menu-item" tabindex="3" href="#">Adicionar linha</a></li>
		    <li><a id="adicionar-coluna" class="menu-item" tabindex="4" href="#">Adicionar coluna</a></li>
		  </ul>
		</div>
	    	<div id="canvas-container" style="margin-left: 10px; float: left;"></div>

		<div id="adicionar_linha_coluna" style="display: none; margin-bottom: 10px; float: right; width: 400px" >
			<div class="alert alert-info"> 
				<h5 id="task-info"><strong> Instru&ccedil;&otilde;es</strong><br><ul><li> Clique com o bot&atilde;o direito sobre um segmento para remov&ecirc;-lo;</li><li>Clique com o botão direito numa regi&atilde;o da tabela para adicionar um segmento;</li><li>Clique e arraste um segmento para ajustar sua posi&ccedil;&atilde;o.</li></ul></h5>
			</div>
			<button class="btn btn-success" style="height: 80px; width: 260px; font-size: 20px; margin-left: 65px;" onclick="submitTask()"><i class="icon icon-white icon-thumbs-up" style="margin-right:10px;"></i><span id="button_finished">#</span></button>
		</div>
</div>

<script src="#server/js/kinetic.js"></script>
<script type="text/javascript" src="#server/js/jquery.i18n.min.js"></script>
<script type="text/javascript" src="#server/js/tt-struct-i18n.js"></script>
<script type="text/javascript" src="#server/js/throbber/throbber.js" ></script>
<script type="text/javascript" src="http://malsup.github.com/jquery.blockUI.js"></script>
<script type="text/javascript" charset="utf-8" src="#server/js/tt3.js"></script>

<style>

canvas {
	border: 1px solid #9C9898;
}

#loading {
	position: absolute;
	z-index: 10000;
	width: 100px;
	height: 100px;
}
</style>    
    
<script type="text/javascript" charset="utf-8">

    var taskid;

    $(window).load(function(){
		$("#question").text($.i18n._('question'));
		$("#question span:first").text($.i18n._('task_name'));
		$("#button_finished").text($.i18n._('button_finished'));
		$("#button_addline").text($.i18n._('button_addline'));
       		$("#button_addcolumn").text($.i18n._('button_addcolumn'));
		$("#button_rmseg label").text($.i18n._('button_rmseg'));
		$("#button_rmline label").text($.i18n._('button_rmline'));
	        $("#button_mvline label").text($.i18n._('button_mvline'));
		$("#success strong").text($.i18n._('well_done'));
		$("#success span:nth-child(2)").text($.i18n._('saved'));
		$("#finish strong").text($.i18n._('congratulations'));
		$("#finish span:nth-child(2)").text($.i18n._('finished'));
		$("#error strong").text($.i18n._('error'));
		$("#error span:nth-child(2)").text($.i18n._('err_msg'));
      	        $("#workflowtask").text($.i18n._('workflowtask'));
		$("#progress-from").text($.i18n._('progress-from'));
		$("#progress-to").text($.i18n._('progress-to'));
    });

    function loadUserProgress() {
	pybossa.userProgress(task_shortname).done(function(data){
		var pct = Math.round((data.done*100)/data.total);
		$("#progress").css("width", pct.toString() +"%");
		$("#progress").attr("title", pct.toString() + "% completed!");
		$("#progress").tooltip({'placement': 'left'}); 
		$("#total").text(data.total);
		$("#done").text(data.done);
	});
    }

    function taskRunDone(taskId){
        $.ajax({
            url: '/mb/api/' + taskId + '/done',
            success: function(data){
                    enableNextTask(taskId);
                }
            });
    }

    function enableNextTask(taskId){
        $("#workflowtask").fadeIn(200);
    }

    $("#workflowtask").click(function(){
		var random_task_type = Math.round(Math.random()) + 1;
                window.open(endpoint + "/app/" + task_shortname.replace("_tt3", "_tt" + random_task_type)  + "/newtask", "_self");
    });

    $('body').on('click', function(e) {
	    $("#remover-menu").hide();
    });

    $(".menu-item").click(function () {
        var str = $(this).text();
	if (str == "Remover segmento") {
		var successful = handleRemoverSegmentoEvent();
		if (!successful) alert("Não é possível remover este segmento.");

	} else if (str == "Remover linha/coluna") {
		handleRemoverLinhaColunaEvent();
	} else if (str == "Adicionar linha") {
		handleAdicionarLinhaEvent();
	} else if (str == "Adicionar coluna"){
		handleAdicionarColunaEvent();
	}

	$("#remover-linha-coluna").blur();
	$("#remover-segmento").blur();
	$("#adicionar-linha").blur();
	$("#adicionar-coluna").blur();
	$("#remover-menu").hide();
    });

    var task_shortname = "#task_shortname#";
    var endpoint = "/pybossa";
    var img_url;

    function loadData(data) {


        if ( !$.isEmptyObject(data.task) ) {
                 loadUserProgress();
   	         var hasZoom = data.task.info.hasZoom;
		 var question = $.i18n._('question');
		 if (hasZoom) question = $.i18n._('question_with_focus');

		 $("#question").text(question);
		 taskid = data.task.id;
		 var coords = data.task.info.last_answer != undefined ? data.task.info.last_answer.coords : data.task.info.coords;
		 var zoom = data.task.info.zoom;
		 img_url = data.task.info.img_url;
		 setTimeout(function(){
				 initGrid(coords, img_url, hasZoom, zoom);
				 $.unblockUI(); $("#adicionar_linha_coluna").show();
		}, 0);
         } else {
	        $(".skeleton").hide();
        	$("#finish").fadeIn();
	}

     }

     // Function to submit and save the TaskRun in PyBossa
     function submitTask() {
             
	// Get grid infos
        var segmentos = salvarAlteracoes();

        var answer = {'img_url': img_url, 'segmentos': segmentos};

        $.blockUI({message: $("#success"),
	              css: {height: $("#success").height()}
	});

	// Save the task
	pybossa.saveTask(taskid, answer).done(function(data) {
	        //Call tt workflow api.
	        taskRunDone(taskid);
        	clearCanvas();

		// Load a new task
		pybossa.newTask(task_shortname).done(function(data) {
					loadData(data);
		});
	});
     }

     pybossa.setEndpoint(endpoint);

     $(window).load(function(){
             pybossa.newTask(task_shortname).done(
                 function( data ) {
                     loadData( data );
             }); 
     });

</script>
