<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">


<div class="row">

  <div class="span8 offset2" style="height:50px">

   	<div id="success" class="alert alert-success" style="display:none;">
	   	<a class="close">x</a>
	    <p><span><strong>#</strong></span><span>#</span></p>
	</div>
    <div id="finish" class="alert alert-success" style="display:none;">
      <p><span><strong>#</strong></span><span>#</span></p>
      <br/>
      <div class="alert-actions">
              <a id="back" class="btn small" href="/">#</a>
              <a id="other_apps" class="btn small" href="/app">#</a>
      </div>
    </div>
    <div id="error" class="alert alert-error" style="display:none;">
      <a class="close">x</a>
      <p><span><strong>#</strong></span><span>#</span></p>
  </div>
  <div id="workflowtask" class="alert alert-success" style="display:none; cursor:pointer;">
        <a class="close"></a>
       <p><span>#</span></p>
    </div>

  </div> <!-- End Success and Error Messages for the user -->
</div>

<div class="row skeleton">
  <div id="question" class="span8 offset2">
      <h2>#</h2>
      <p><span>#</span><span id="task-id" class="label label-warning">#</span></p>
  </div>
</div>

<div class="row skeleton">
        
    <div id="container" style="margin: 20px"></div>
    <!--  Radio buttons para definir qual a ação que o usuário -->
        <button id="button_addline" onclick="adicionarNovaLinha();">#</button>
        <button id="button_addcolumn" onclick="adicionarNovaColuna();">#</button>
    <div class="row">
            <button id="button_finished" onclick="submitTask()">#</button>
        
        </div>


</div>

<script src="#server/js/kinetic.js"></script>
<script type="text/javascript" src="#server/js/jquery.i18n.min.js"></script>
<script type="text/javascript" src="#server/js/tt-struct-i18n.js"></script>


<style>

canvas {
	border: 1px solid #9C9898;
}
</style>    
    
<script type="text/javascript" charset="utf-8">

    $(window).load(function(){
		$("#question h2").text($.i18n._('question'));
		$("#question span:first").text($.i18n._('task_name'));
		$("#button_finished").text($.i18n._('button_finished'));
		$("#button_addline").text($.i18n._('button_addline'));
        $("#button_addcolumn").text($.i18n._('button_addcolumn'));
		$("#button_rmseg label").text($.i18n._('button_rmseg'));
		$("#button_rmline label").text($.i18n._('button_rmline'));
        $("#button_mvline label").text($.i18n._('button_mvline'));
		$("#success strong").text($.i18n._('well_done'));
		$("#success span:nth-child(2)").text($.i18n._('saved'));
		$("#finish strong").text($.i18n._('congratulations'));
		$("#finish span:nth-child(2)").text($.i18n._('finished'));
		$("#error strong").text($.i18n._('error'));
		$("#error span:nth-child(2)").text($.i18n._('err_msg'));
        $("#workflowtask span:first").text($.i18n._('workflowtask'));
		
    }); //

    var task_shortname = "#task_shortname#";
    var endpoint = "/pybossa";
    var img_url;

    function loadData( data ) {

        if ( !$.isEmptyObject(data.task) ) {
         $("#question h2").text(data.question);
         $("#task-id").text(data.task.id);
         var coords = data.task.info.last_answer != undefined ? data.task.info.last_answer.coords : data.task.info.coords;
         var zoom = data.task.info.zoom;
         img_url = data.task.info.img_url;
         initGrid(coords, img_url, zoom);
	    }
   else {
        $(".skeleton").hide();
        $("#finish").fadeIn();
   }

	}

	// Function to submit and save the TaskRun in PyBossa
function submitTask() {
        // Get grid infos

        var gridCoords = salvarAlteracoes();

        var answer = {'img_url' : img_url, 'coords': gridCoords};
        console.log(answer);
		// Get the task-id
		taskid = $("#task-id").text();
		
		// Save the task
		pybossa.saveTask(taskid, answer).done(function(data) {
            //Call tt workflow api.
            //taskRunDone(taskid);
            clearCanvas();

          // $.blockUI({message: $("#success"),
          //              css: {height: $("#success").height()}
          //  });
			// Load a new task
            pybossa.newTask(task_shortname).done(function(data) {

				loadData(data);
			});
		});
	}

pybossa.setEndpoint(endpoint);

$(window).load(function(){
        pybossa.newTask(task_shortname).done(
            function( data ) {
                loadData( data )
                });
        
});

</script>
<script src="#server/js/tt3.js" type="text/javascript" charset="utf-8"></script>
