<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<div class="row" style="margin-left: 10px;">

	<div class="span6" style="height: 50px">
		<div id="success" class="alert alert-success" style="display: none;">
			<a class="close">x</a>
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="finish" class="alert alert-success" style="display: none;">
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="error" class="alert alert-error" style="display: none;">
			<a class="close">x</a>
			<p>
				<span><strong>#</strong></span><span>#</span>
			</p>
		</div>
		<div id="workflowtask" class="alert alert-success"
			style="display: none; text-align: center; cursor: pointer; position: relative; margin-top: 5px;"></div>
	</div>
</div>

<div class="row skeleton">
	<div class="span9">
		<h1 id="question"></h1>
		<p>
			<span id="progress-from">#</span><span id="done"
				class="label label-info" style="margin-right: 5px"></span><span
				id="progress-to">#</span>
			<span id="total" class="label label-inverse"></span>
		</p>
		<div class="progress progress-striped"
			style="width: 520px; margin-bottom: 10px;">
			<div id="progress" rel="tooltip" title="#" class="bar"
				style="width: 0%;"></div>
		</div>
	</div>
</div>


<div class="skeleton" style="margin-bottom: 10px;">
	<div id="toolbar" class="btn-group">
		<button class="btn" rel="tooltip"
			title="Habilita a ferramenta de Zoom In"
			onclick="handleZoomInToolEvent()">
			<i class="icon icon-zoom-in"></i>
		</button>
		<button class="btn" rel="tooltip"
			title="Habilita a ferramenta de Zoom Out"
			onclick="handleZoomOutToolEvent()">
			<i class="icon icon-zoom-out"></i>
		</button>
		<button class="btn" rel="tooltip"
			title="Abre a tela de ajuda" onclick="showHelpStruct()">
			<i class="icon icon-question-sign"></i>
		</button>
	</div>
	<button id="button-finished-task" class="btn btn-success" onclick="submitTask()">
		<i class="icon icon-white icon-thumbs-up"></i> Salvar correções
	</button>
</div>

<div class="skeleton">
	<div id="table-viewer">
		<div id="canvas-table-container"></div>
	</div>
	<div id="right-panel">
		<div class="btn-group" style="margin-bottom: 10px">
			<button class="btn" rel="tooltip"
				title="Célula anterior" onclick="handlePreviousCellEvent()">
				<i class="icon icon-arrow-left"></i>
			</button>
			<button class="btn" rel="tooltip"
				title="Próxima célula" onclick="handleNextCellEvent()">
				<i class="icon icon-arrow-right"></i>
			</button>
		</div>

		<div id="cell-viewer">
			<div id="canvas-cell-container"></div>
		</div>

		<label>Transcrição atual</label>
		<span id="transcription-field" class="input uneditable-input"></span>
		<label>Campo de edição</label>
		<input id="edition-field" type="text">
		<button id="button-finished-transcription" class="btn btn-success" onclick="handleSaveCellEvent()">
			<i class="icon icon-white icon-ok"></i> Salvar
		</button>

		<div id="instruction" class="alert alert-info">
			<h5>
				<strong> Instru&ccedil;&otilde;es b&aacute;sicas</strong><br>
				<ul>
					<li>TODO
					</li>
				</ul>
			</h5>
		</div>
	</div>
</div>

<link rel="stylesheet" href="#server/css/tt-transcribe.css" />

<script src="#server/js/kinetic.js"></script>
<script type="text/javascript" src="#server/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="#server/js/jquery.i18n.min.js"></script>
<script type="text/javascript" src="#server/js/tt-transcribe-i18n.js"></script>
<script type="text/javascript" charset="utf-8" src="#server/js/tt4.js"></script>

<script type="text/javascript">

	var task_shortname = "#task_shortname#";
	var endpoint = "/pybossa";
	var taskid;
	var serverName = "#server";

	$(window).load(function() {
		$("#question").text($.i18n._('question'));
		$("#question span:first").text($.i18n._('task_name'));
		$("#success strong").text($.i18n._('well_done'));
		$("#success span:nth-child(2)").text($.i18n._('saved'));
		$("#finish strong").text($.i18n._('congratulations'));
		$("#finish span:nth-child(2)").text($.i18n._('finished'));
		$("#error strong").text($.i18n._('error'));
		$("#error span:nth-child(2)").text($.i18n._('err_msg'));
		$("#workflowtask").text($.i18n._('workflowtask'));
		$("#progress-from").text($.i18n._('progress-from'));
		$("#progress-to").text($.i18n._('progress-to'));
	});

	function loadUserProgress() {
		pybossa.userProgress(task_shortname).done(function(data) {
			var lastTask = (data.done + 1) == data.total;
			var pct = Math.round((data.done * 100) / data.total);
			$("#progress").css("width", pct.toString() + "%");
			$("#progress").attr("title", pct.toString() + "% completed!");
			$("#progress").tooltip({
				'placement' : 'left'
			});
			$("#total").text(data.total);
			$("#done").text(data.done);
		});
	}

	function loadData(data) {
		if (!$.isEmptyObject(data.task)) {
			loadUserProgress();
			taskid = data.task.id;
		} else {
			$(".skeleton").hide();
			$("#finish").fadeIn();
		}

		createTableViewer(data.task.info);
	}

	function taskRunDone(taskId) {
		$.ajax({
			url : '/mb/api/' + taskId + '/done',
			success : function(data) {
				enableNextTask();
			}
		});
	}

	function enableNextTask() {
		$("#workflowtask").fadeIn(200);
	}

	$("#workflowtask").click(
			function() {
				var random_task_type = Math.round(Math.random()) + 1;
				window.open(endpoint
						+ "/app/"
						+ task_shortname.replace("_tt4", "_tt"
								+ random_task_type) + "/newtask", "_self");
			});

	// Function to submit and save the TaskRun in PyBossa
	function submitTask() {

		var answer = getCompleteTranscriptionAnswer();

		pybossa.saveTask(taskid, answer).done(function(data) {
			//Call tt workflow api.
			taskRunDone(taskid);
			clearCanvas();

			$.blockUI({
				message : $("#success"),
				css : {
					height : $("#success").height()
				}
			});

			setTimeout(function() {
				$.unblockUI();
			}, 1500);

			// Load a new task
			pybossa.newTask(task_shortname).done(function(data) {
				loadData(data);
			});
		});
	}

	pybossa.setEndpoint(endpoint);

	pybossa.newTask(task_shortname).done(function(data) {
		loadData(data)
	});
</script>
