<style type="text/css">
#throbber {
	padding: 10px;
	position: absolute;
	left: 50%;
	top: 10%;
	margin: -50px 0 0 -50px;
	z-index: 10000;
	width: 100px;
	height: 100px;
}
</style>

<div class="row">

	<div class="span8 offset2" style="height: 50px">
		<div id="success" class="alert alert-success" style="display: none;">
			<a class="close">×</a> <strong>Muito bem!</strong> Sua resposta foi
			salva</strong>
		</div>
		<div id="finish" class="alert alert-success" style="display: none;">
			<strong>Parabéns!</strong> Todas as tarefas foram finalizadas</strong> <br />
			<div class="alert-actions">
				<a class="btn small" href="/">Voltar</a> <a class="btn small"
					href="/app">ou, verificar outras aplicações</a>
			</div>
		</div>
		<div id="error" class="alert alert-error" style="display: none;">
			<a class="close">×</a> <strong>Erro!</strong> Algo ocorreu errado,
			por favor contate o administrador do site.</strong>
		</div>
	</div>
	<!-- End Success and Error Messages for the user -->
</div>


<div id="throbber"></div>

<div class="row skeleton">
	<div id="question" class="span8 offset2">
		<h2>Question</h2>
		<p>
			Tarefa: <span id="task-id" class="label label-warning">#</span>
		</p>
	</div>
</div>

<div class="row skeleton">
      <!-- Answer buttons -->
      <div id="answer" class="span8 offset2">
          <button id="button" class="btn" onclick="submitTask('No')"><i class="icon icon-white icon-ok"></i> Salvar transcrição incompleta</button>
          <button id="button" class="btn btn-success" onclick="submitTask('No')"><i class="icon icon-white icon-ok"></i> Salvar transcrição completa</button>
          <button id="button" class="btn btn-danger" onclick="submitTask('','NoTable')"><i class="icon icon-white icon-ok"></i> Não há tabelas</button>
      </div>
</div>


<div class="row skeleton" style="padding: 10px;">
	<hidden id="table" value="#">
	<div id="viewer-container" class="viewer iviewer"></div>
	<div id="right-panel">
		<div id="jQuerySheet"></div>
	</div>

</div>

<div class="row skeleton">
<div id="disqus_thread" class="span8 offset2"></div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'lsdpybossa'; // required: replace example with your forum shortname
    //var disqus_developer = 1;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<script type="text/javascript" src="/static/js/pybossa/pybossa.js"></script>
<script type="text/javascript" src="/static/js/throbber/throbber.js"></script>

<!-- JQuery -->
<script type="text/javascript" src="#server/js/jquery-ui-1.8.22.custom.min.js"></script>

<!-- JQuery for tt-transcriber -->
<script type="text/javascript" src="#server/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="#server/js/jquery.iviewer.js"></script>
<script type="text/javascript" src="#server/js/tabletranscriber.js"></script>

<!--JS for jQuerySheet-->
<script type="text/javascript" src="#server/js/jquery.sheet.js"></script>
<script type="text/javascript" src="#server/js/parser.js"></script>
<script type="text/javascript" src="#server/js/raphael-min.js"></script>

<!--CSS for jQuerySheet-->
<link rel="stylesheet" type="text/css"
	href="#server/css/jquery-ui/theme/jquery-ui-1.8.22.custom.css" />
<link rel="stylesheet" type="text/css"
	href="#server/css/jquery.sheet.css" />

<!-- CSS for tt-transcriber -->
<link rel="stylesheet" href="#server/css/jquery.iviewer.css" />
<link rel="stylesheet" href="#server/css/tt-transcribe.css" />



<script type="text/javascript">
spinner.appendTo (document.getElementById('throbber'));

var task_shortname = "#task_shortname#";
var endpoint = "/pybossa";

function loadData(data){
	  if ( !$.isEmptyObject(data.task) ) {
	        $("#question h2").text(data.question);
	        $("#task-id").text(data.task.id);
	        $("#table").attr("value",data.task.info.link);
	    }
	   else {
	        $(".skeleton").hide();
	        $("#finish").fadeIn();
	    }
	
	  viewer($("#table").attr("value"));
	  last_answer = data.task.info.last_answer;
	  createTable();
}

pybossa.setEndpoint(endpoint);

pybossa.newTask(task_shortname).done( function( data ) { loadData( data ) });
</script>
