<div id="template-container">
	<div class="row">
		<div id="alert-container" class="span7" style="height: 50px">
			<div id="success" class="alert alert-success" style="display: none;">
				<p>
					<strong>Muito bem!</strong> Sua resposta foi salva
				</p>
			</div>
			<div id="finish" class="alert alert-success" style="display: none;">
				<p>
					<strong>Parabéns!</strong> Todas as tarefas de marcação foram
					finalizadas
				</p>
			</div>
			<div id="error" class="alert alert-error" style="display: none;">
				<p>
					<strong>Erro!</strong> Algo ocorreu errado, por favor contate o
					administrador do site.
				</p>
			</div>
			<div id="workflowtask" class="alert alert-success"
				style="display: none; text-align: center; cursor: pointer; position: relative; margin-top: 5px;">
				<p>
					<span>Existe um novo tipo de tarefa disponível. Clique para
						ir.</span>
				</p>
			</div>
		</div>
	</div>

	<div class="skeleton">
		<h1>
			Mem&oacute;ria Estat&iacute;stica do Brasil (<span id="task-type"></span>)
		</h1>

		<div id="motivation-msg"
			style="margin-top: 10px; margin-bottom: 10px; opacity: 0;">
			<span id="progress-from">Voc&ecirc; j&aacute; completou </span><span
				id="done" class="label label-info" style="margin-right: 5px"></span><span
				id="progress-to">tarefas – continue contribuindo! </span>
		</div>
		<div class="progress  progress-striped">
			<div id="community-progress" class="bar bar-success"
				style="width: 0%;"></div>
			<div id="user-progress" class="bar bar-info" style="width: 0%;"></div>
		</div>
		<h5>
			<strong><span id="book-info"></span></strong> <i><span
				id="book_title"></span></i>
		</h5>

		<div>
			<h1>
				<strong><span id="question">Question</span></strong>
			</h1>
			<h5 id="question-warning">
				<i> *N&atilde;o se preocupe se voc&ecirc; acha que fez algo
					errado, continue contribuindo! Cada tarefa &eacute; executada por
					diversos volunt&aacute;rios – voc&ecirc; n&atilde;o est&aacute;
					sozinho! </i>
			</h5>
			<p>
				<span style="display: none;" id="task-id"
					class="label label-warning"></span>
			</p>
		</div>
	</div>

	<div class="skeleton">
		<!-- Answer buttons -->
		<div id="answer">
			<button id="button" rel="popover" class="btn btn-success"
				onclick="submitTask()">
				<i class="icon icon-white icon-ok"></i> Salvar essas marcações
			</button>
			<button id="button_bug_report" class="btn btn-warning" rel="tooltip"
				title="Aponte um erro na tarefa" onclick="showBugReportForm()">
				<i class="icon icon-warning-sign"></i>
			</button>

			<button id="button_help" class="btn help" data-toggle="modal"
				rel="tooltip" title="Abre a tela de ajuda" onclick="showHelp()">
				<i class="icon-white icon-question-sign"></i>
			</button>
			<button id="button_share" class="btn" rel="tooltip"
				title="Compartilhe algo interessante da página abaixo"
				onclick="share()">
				<img class="icon" style="width: 20px"
					src="#server/images/share_icon.png"></img>
			</button>
		</div>
	</div>

	<!-- modal help button -->
	<div id="helpModalMeta" class="modal hide fade" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		style="display: none">

		<div class="modal-header">
			<button class="close" data-dismiss="modal" aria-hidden="true">
				<i class="icon-white icon-remove"></i>
			</button>
			<h3 id="myModalLabel">
				<strong>Tutorial de Marcação de Tabelas</strong>
			</h3>
		</div>

		<div id="container">
			<div class="tabbable tabs-left">
				<div class="span3 bs-docs-sidebar" data-spy="affix-top"
					data-offset-top="1">
					<ul class="nav nav-tabs">
						<li class="active nav-header"><a href="#home"
							data-toggle="tab"><i class="icon-chevron-right"></i> Home</a></li>

						<li class="nav-header"><strong>Casos de Tabelas</strong></li>
						<li><a href="#tabelasComOrientacaoHorizontal"
							data-toggle="tab"><i class="icon-chevron-right"></i> Tabelas
								com Orientação Horizontal</a></li>
						<li><a href="#tabelasComOrientacaoVertical" data-toggle="tab"><i
								class="icon-chevron-right"></i> Tabelas com Orientação Vertical</a></li>
						<li><a href="#tabelaComDiferentesOrientacoes"
							data-toggle="tab"><i class="icon-chevron-right"></i> Tabela
								com Diferentes Orientações</a></li>

						<li class="nav-header">Várias Tabelas na Página</li>
						<li><a href="#maisDeUmaTabelaNaPagina" data-toggle="tab"><i
								class="icon-chevron-right"></i> Mais de Uma Tabela na Página</a></li>
						<li><a href="#tabelasComOrientacaoHorizontalEVertical"
							data-toggle="tab"><i class="icon-chevron-right"></i> Tabelas
								com Orientação Horizontal e Vertical na mesma Página</a></li>

						<li class="nav-header">Tabelas Seccionadas</li>
						<li><a href="#tabelaSeccionadaEmUmaPagina" data-toggle="tab"><i
								class="icon-chevron-right"></i> Tabela Seccionada em uma Página</a></li>
						<li><a href="#tabelaSeccionadaEmMaisDeUmaPagina"
							data-toggle="tab"><i class="icon-chevron-right"></i> Tabela
								Seccionada em Mais de Uma Página</a></li>
					</ul>
				</div>
				<div class="modal-body" style="max-height: 550px">
					<div class="tab-content">
						<div class="tab-pane active" id="home">
							<h2>O que deve ser feito?</h2>
							<p>A tarefa consiste em selecionar o local em que a tabela
								está na página do livro, informar se a tabela possui orientação
								horizontal ou vertical, e transcrever o título, o assunto, as
								fontes e as datas inicial e final a que a tabela se refere, caso
								existam na página que você está visualizando.</p>
							<br>
							<p>Uma tabela possui orientação horizontal quando a maioria
								de suas células estão escritas na horizontal e possui orientação
								vertical quando a maioria de suas células estão escritas na
								vertical.</p>
							<br>
							<p>
								<strong style="color: red">Atenção</strong>
							</p>
							<p>- Caso esteja visível apenas uma parte do título, você
								deve transcrever o que conseguir visualizar.</p>
							<p>- Caso você não consiga identificar o assunto e as fontes
								da tabela na página, esses campos podem ser deixados em branco.</p>
							<p>- Caso você não identifique as datas inicial ou final que
								a tabela se refere, deixe os campos em branco.</p>
							<p>- Caso você não identifique a data em seu formato
								completo, ou seja, dia, mês e ano, coloque apenas o que você
								consegue identificar.</p>
							<p>. Se apenas o mês e o ano, coloque no seguinte formato:
								mm/aaaa;</p>
							<p>. Se apenas o ano, coloque no seguinte formato: aaaa;</p>


							<br>
							<h2>O que devo considerar uma tabela?</h2>
							<p>Você deve considerar uma tabela qualquer estrutura que
								possua dados sobre economia, geografia, demografia ou outra
								matéria para fins estatísticos.</p>
							<br>
							<h2>O que devo selecionar na tabela?</h2>
							<p>É necessário que você nos diga onde está o corpo da
								tabela, desconsiderando textos avulsos, como título e fontes,
								ainda que sejam relacionados com a tabela, mas que não compõem
								seu corpo. Posteriormente será feita a identificação automática
								da estrutura da tabela sobre a área que você selecionou.
						</div>

						<div class="tab-pane" id="tabelasComOrientacaoHorizontal">
							<h2>Tabelas com Orientação Horizontal</h2>
							<p>Uma tabela que tem orientação horizontal é aquela que
								possui a maioria de suas células escritas na horizontal.
								Selecione apenas o corpo da tabela, coloque o título, o assunto
								e as fontes se existirem. Observe que a seleção deve ser feita
								do ponto superior esquerdo ao inferior direito da tabela. Não
								esqueça de indicar a orientação da tabela antes de submeter.</p>
							<p>Exemplo de tabela com orientação horizontal:</p>
							<div class="thumbnail">
								<img data-src="holder.js/300x200" alt=""
									src="#server/images/help-meta/thumbnails/tabelasComOrientacaoHorizontal.png">
							</div>
						</div>

						<div class="tab-pane" id="tabelasComOrientacaoVertical">
							<h2>Tabelas com Orientação Vertical</h2>
							<p>Uma tabela que tem orientação vertical é aquela que possui
								a maioria de suas células escritas na vertical. Selecione apenas
								o corpo da tabela, coloque o título, o assunto e as fontes se
								existirem. Observe que a seleção deve ser feita do ponto
								superior esquerdo ao inferior direito da tabela. Não esqueça de
								indicar a orientação vertical da tabela antes de submeter.</p>
							<p>Exemplo de tabela com orientação vertical:</p>
							<div class="thumbnail">
								<img data-src="holder.js/300x200" alt=""
									src="#server/images/help-meta/thumbnails/tabelasComOrientacaoVertical.png">
							</div>
						</div>

						<div class="tab-pane" id="tabelaComDiferentesOrientacoes">
							<h2>Tabela com Diferentes Orientações</h2>
							<p>Este tipo de tabela é definido por tabelas que estão na
								horizontal, mas possuem células escritas na vertical ou
								vice-versa. Para esse tipo, siga as instruções padrão. Em
								especial, verifique se a orientação da maioria das células está
								na vertical, sendo a tabela classificada como tendo orientação
								vertical, ou na horizontal, sendo a tabela classificada como
								tendo orientação horizontal. Observe que a seleção deve ser
								feita do ponto superior esquerdo ao inferior direito da tabela.
							</p>
							<p>Exemplo de tabela com diferentes orientações:</p>
							<div class="thumbnail">
								<img data-src="holder.js/300x200" alt=""
									src="#server/images/help-meta/thumbnails/tabelaComDiferentesOrientacoes.png">
							</div>
						</div>

						<div class="tab-pane" id="maisDeUmaTabelaNaPagina">
							<h2>Mais de uma Tabela na Página</h2>
							<p>Selecione o corpo de ambas as tabelas separadamente,
								coloque o título, o assunto e as fontes para cada uma das
								tabelas selecionadas, se existirem. Observe que a seleção deve
								ser feita do ponto superior esquerdo da tabela ao inferior
								direito. Não esqueça de indicar separadamente as orientações de
								cada tabela antes de submeter.</p>
							<p>Exemplo de Mais de Uma Tabela por Página:</p>
							<div class="thumbnail">
								<img data-src="holder.js/300x200" alt=""
									src="#server/images/help-meta/thumbnails/maisDeUmaTabelaNaPagina.png">
							</div>
						</div>

						<div class="tab-pane" id="tabelasComOrientacaoHorizontalEVertical">
							<h2>Tabelas com Orientação Horizontal e Vertical na Mesma
								Página</h2>
							<p>Este caso ocorre quando há mais de uma tabela com
								diferentes orientações: uma com orientação vertical e outra
								horizontal, na mesma página. Selecione uma tabela de cada vez.
								Coloque o título, o assunto e as fontes de cada tabela
								separadamente, se existirem, tal como descrito na tab de Tabelas
								com Orientação Horizontal e na tab de Tabelas com Orientação
								Vertical e confirme a seleção para ambas. Não esqueça de indicar
								as orientações de cada tabela separadamente antes de submeter.</p>
							<p>Caso já exista uma tabela ou mais tabelas já demarcadas
								por outra pessoa, você pode escolher entre refazer a seleção,
								caso exista algum erro, ou confirmar a marcação e os dados sobre
								as tabelas já inseridos.</p>
							<p>Exemplo de tabelas com orientação horizontal e vertical na
								mesma página:</p>
							<div class="thumbnail">
								<img data-src="holder.js/300x400" alt=""
									src="#server/images/help-meta/thumbnails/tabelasComOrientacaoHorizontalEVertical.png">
							</div>
						</div>

						<div class="tab-pane" id="tabelaSeccionadaEmUmaPagina">
							<h2>Tabelas Seccionadas em uma Página</h2>
							<p>Selecione o corpo da tabela, coloque o título, o assunto e
								as fontes se existirem. Observe que a seleção também deve ser
								feita do ponto superior esquerdo ao inferior direito da tabela.
								Não esqueça de indicar a orientação da tabela antes de submeter.
							</p>
							<p>Exemplo de Tabela Seccionadas em uma Página:</p>
							<div class="thumbnail">
								<img data-src="holder.js/300x200" alt=""
									src="#server/images/help-meta/thumbnails/tabelaSeccionadaEmUmaPagina.png">
							</div>
							<br>
							<p style="color: red">Observe que a tabela está dividida em
								três partes na mesma página. Selecione toda a tabela com apenas
								uma marcação.</p>
						</div>

						<div class="tab-pane" id="tabelaSeccionadaEmMaisDeUmaPagina">
							<h2>Tabela Seccionada em mais de Página</h2>
							<p>Selecione apenas o corpo visível da tabela, coloque o
								título, o assunto e as fontes se existirem. Observe que a
								seleção deve ser feita do ponto superior esquerdo ao inferior
								direito da tabela. Não esqueça de indicar a orientação da tabela
								antes de submeter.</p>
							<p>Exemplo de tabela seccionada em mais de uma página,
								observe a indicação, em vermelho, de continuidade na próxima
								página:</p>
							<div class="thumbnail">
								<img data-src="holder.js/300x200" alt=""
									src="#server/images/help-meta/thumbnails/tabelaSeccionadaEmMaisDeUmaPagina.png">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					Fechar</button>
			</div>
		</div>
	</div>

	<div id="bug_report_div" class="skeleton">
		<div>
			<h2 id="bug_report_question">Selecione as opções abaixo que
				correspondem ao problema encontrado:</h2>
			<form id="bug_report_form" style="margin: 0 auto;">
				<input id="loading" type="checkbox" value="1"> A imagem não
				carrega<br> <input id="submission" type="checkbox" value="2">
				A página travou quando tentei submeter<br> <input
					id="loading_next" type="checkbox" value="3"> A próxima
				tarefa não carrega<br> <input id="no_tables" type="checkbox"
					value="4"> Não há tabela na página<br> <input
					id="content_visualization" type="checkbox" value="5"> Não
				consigo ver o conteúdo da página do livro<br> <input id="other"
					type="checkbox" value="6"> Outro<br>
				<textarea type="textarea" id="other_description" rows="0"
					style="width: 240px"></textarea>
				<br> <a class="btn btn-default btn-sm" style="float: left;"
					onclick="cancelSubReport()"> Cancelar</a> <a
					class="btn btn-info btn-sm" style="float: right;"
					onclick="subReport()"> Submeter</a><br> <br>
			</form>
		</div>
	</div>

	<div id="image-container" class="skeleton" rel="popover"
		title="Você vê alguma tabela na página ao lado? se sim, clique e arraste para desenhar uma área sobre ela. Marque apenas apenas o corpo da tabela, desconsiderando textos avulsos, como título e fontes.">
		<div id="TTImage" class="TTImageContainer"
			style="float: left; opacity: 0;">
			<img id="table" class="TTImage" src="#" onload="unblockUI()">
		</div>
		<div id="share-container">
			<ul id="share-menu" class="dropdown-menu" role="menu">
				<li><a style="padding: 3px 12px;" onclick="shareOnFacebook()">
						<img class="icon" style="width: 20px; margin-right: 3px;"
						src="#server/images/social_facebook.png"></img> Facebook
				</a></li>
			</ul>
			<div id="share-canvas-container" rel="popover"
				title="Clique e arraste o mouse sobre uma área da tabela para compartilhar."></div>
		</div>
		<div id="loading-container">
			<img src="#server/images/loading.gif">
		</div>
	</div>
</div>

<script src="#server/js/kinetic.js"></script>
<script type="text/javascript" src="#server/js/share.js"></script>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script src="#server/js/jquery.annotate.js" type="text/javascript"></script>
<script type="text/javascript"
	src="#server/js/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="#server/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="#server/js/report.js"></script>
<script type="text/javascript" src="#server/js/jquery.cookie.js"></script>

<link rel="stylesheet" type="text/css" href="#server/css/annotation.css" />
<link rel="stylesheet" type="text/css" href="#server/css/tt-meta.css" />

<script type="text/javascript" charset="utf-8">
	var app_shortname = "#app_shortname#";
	var endpoint = "/pybossa";
	var isLastAnswer = false;
	var toolTipsEnabled = false;
	var COOKIE_EXPIRATION = 60; // days
	var book_progress;
	var user_progress;

	function showHelp() {
		$("#helpModalMeta").modal();
		$('#nav-header').affix();
	}

	$("[rel=tooltip]").tooltip();
	$("[rel=popover]").popover({
		"trigger" : "manual",
		"placement" : "left"
	});

	$("#button_share").on("click", function() {
		if ($("#button_share").hasClass("active")) {
			$(".image-annotate-edit-close").trigger("click");
			$("#image-container").popover("hide");
		} else {
			$("#image-container").popover("show");
		}
	});

	$("#template-container").ready(function() {
		// update book title on header		
		$.each($(".row a"), function() {
			if ($(this).attr('href').indexOf("/pybossa/app/") != -1) {

				if ($(this).text().indexOf("Marcação") != -1) {
					// remove PyBossa app's header
					$(this).parent().parent().parent().remove();
				}

				var book_title = $(this).text().replace(" Marcação", "");
				$("#book_title").html(book_title);
			}
		});

		// Anonymous alert fix
		$("#msg_warning .close").removeAttr("data-dismiss");
		$("#msg_warning .close").on("click", function(e) {
			$("#msg_warning").fadeTo(1, 0);
		});

		$("#book-info").text("Você está ajudando a transcrever o livro:");
		$("#task-type").text("Tarefa de marcação");
		$("#answer").hide();
		$("#answer").show();
	});

	function unblockUI() {
		$("#loading-container").hide();
		$("#TTImage").fadeTo(1, 1);
		$.unblockUI();
	}

	function blockUI() {
		$("#TTImage").fadeTo(1, 0);
		$("#loading-container").show();
		$.blockUI({
			message : $("#success"),
			css : {
				height : $("#success").height()
			}
		});
	}

	function callbackGetUserId(u_ident) {
		var submissionP = $("#submission")[0].checked;
		var loadingCurrentTaskP = $("#loading")[0].checked;
		var loadingNextTaskP = $("#loading_next")[0].checked;
		var noTablesP = $("#no_tables")[0].checked;
		var contentVisualizationP = $("#content_visualization")[0].checked;
		var otherP = $("#other")[0].checked;
		var otherTextDescriptionP = $("#other_description").val();

		var msg = {
			'1' : submissionP,
			'2' : loadingCurrentTaskP,
			'3' : loadingNextTaskP,
			'4' : noTablesP,
			'5' : contentVisualizationP,
			'6' : otherP,
			'7' : otherTextDescriptionP
		};

		var jreport = JSON.stringify({
			'message' : msg,
			'u_id' : u_ident
		});

		$.ajax({
			type : 'POST',
			url : '/mb/api/' + app_shortname + '/' + taskId + '/report',
			dataType : 'json',
			contentType : 'application/json; charset=utf-8',
			data : jreport
		});

		erase_bug_report_div();
	}

	function subReport() {
		pybossa.getCurrentUserId(callbackGetUserId);
	}

	function loadUserProgress() {
		book_progress = {
			'total' : 0,
			'done' : 0
		};
		user_progress = {
			'total' : 0,
			'done' : 0
		};

		var book_id = app_shortname.split("_")[0];
		var deferreds = [];
		deferreds.push(getBookProgress(book_id));
		deferreds.push(getUserProgress(book_id + "_tt1"));
		deferreds.push(getUserProgress(book_id + "_tt2"));
		deferreds.push(getUserProgress(book_id + "_tt3"));
		deferreds.push(getUserProgress(book_id + "_tt4"));

		$.when
				.apply($, deferreds)
				.then(
						function() {
							$("#total").text(100);
							$("#done").text(30);

							if (user_progress.done > 1) {
								$("#motivation-msg").fadeTo(500, 1);
							}

							var only_by_community = book_progress.done
									- user_progress.done;
							var community_pct = Math
									.round((only_by_community * 100)
											/ book_progress.total);
							$("#community-progress").tooltip('destroy');
							$("#community-progress").css("width",
									community_pct.toString() + "%");
							$("#community-progress").attr(
									"data-original-title",
									community_pct.toString()
											+ "% feitas pela comunidade!");
							$("#community-progress").tooltip({
								'placement' : 'top'
							});

							var user_pct = Math
									.round((user_progress.done * 100)
											/ book_progress.total);
							$("#user-progress").tooltip('destroy');
							$("#user-progress").css("width",
									user_pct.toString() + "%");
							$("#user-progress").attr("data-original-title",
									user_pct.toString() + "% feitas por você!");
							$("#user-progress").tooltip({
								'placement' : 'top'
							});

							$("#total").text(book_progress.total);
							$("#done").text(user_progress.done);
						});
	}

	function getBookProgress(bookId) {
		return $.ajax({
			url : '/mb/api/get_book_progress/' + bookId,
			success : function(data) {
				book_progress = $.parseJSON(data);
			}
		});
	}

	function getUserProgress(app_name) {
		return pybossa.userProgress(app_name).done(function(data) {
			user_progress.total = user_progress.total + data.total;
			user_progress.done = user_progress.done + data.done;
		});
	}

	function taskRunDone(taskId) {
		return $.ajax({
			url : '/mb/api/' + taskid + '/done',
			success : function(data) {
				enableNextTask(taskId);
			}
		});
	}

	function enableNextTask(taskId) {
		$.ajax({
			url : '/mb/api/' + taskId + '/available_tasks',
			success : function(data) {
				if (data == "True") {
					$("#workflowtask").fadeIn(200);
				}
			}
		});
		$("#workflowtask").click(function() {
			redirectToANewTask("tt3");
		});
	}

	// Add tooltips for a newcomer
	function addTooltips() {
		var num_annotations = $(".image-annotate-area").length;
		$
				.each(
						$(".image-annotate-area"),
						function(index) {
							if (index == num_annotations - 1) {
								$(this)
										.attr(
												"data-original-title",
												"Isso é uma marcação. Ao clicar nela, você pode conferir e editar as informações de descrição da tabela.");
							} else {
								$(this).attr("data-original-title",
										"Outra marcação.");
							}
						});

		$(".image-annotate-area").on("remove", function() {
			$(this).popover("destroy");
		});

		$(".image-annotate-area").popover({
			"trigger" : "manual",
			"placement" : "left"
		});

		$(".image-annotate-edit-area").popover({
			"trigger" : "manual",
			"placement" : "left"
		});

		$(".image-annotate-edit-area")
				.attr("data-original-title",
						"Caso precise ajustar a posição da marcação, basta clicar e arrastar.");

		// Listener to annotation's drag event
		$(".image-annotate-edit-area").on('DOMSubtreeModified', function(e) {
			$(this).popover("show");

			$("#image-annotate-edit-form").popover({
				"trigger" : "manual",
				"placement" : "top"
			});
			$("#image-annotate-edit-form").popover("show");
		});

		if (!isLastAnswer)
			$("#image-container").popover("show");
		$(".image-annotate-area").popover("show");
		$("#button").popover("show");
	}

	function loadData(data) {
		var current_task = data.task;

		// Defined by FB-template
		if (typeof loadDataEvent != "undefined") {
			loadDataEvent(current_task);
		}

		if (!$.isEmptyObject(current_task)) {
			loadUserProgress();
			var task_id = data.task.id;
			$("#task-id").text(task_id);
			$("#table").attr("src", current_task.info.link);

			isLastAnswer = typeof current_task.info.last_answer != "undefined";
			var notes = isLastAnswer ? JSON
					.parse(current_task.info.last_answer) : [];
			notes = notes == 0 ? [] : notes;

			var question = "";
			var save_button = "";
			var save_button_tip = "";
			if (isLastAnswer) {
				question = "Confira as marcações das tabelas abaixo. Se houver erros, corrija-os.";
				save_button = "Pronto! As marcações estão corretas";
				save_button_tip = "Após conferir todas as marcações, basta clicar aqui."

				// Check if the interface needs to show the tooltips
				toolTipsEnabled = typeof $.cookie('finished_t2_correction') == "undefined";
			} else {
				question = "Marque a área das tabelas da página abaixo e descreva as informações que serão pedidas após a marcação.";
				save_button = "Pronto! Salvar essas marcações";
				save_button_tip = "Após marcar todas as tabelas, basta clicar aqui."

				// Check if the interface needs to show the tooltips
				toolTipsEnabled = typeof $.cookie('finished_t2') == "undefined";
			}

			$("#question").text(question);
			$("#button").text(save_button);
			$("#button").attr("data-original-title", save_button_tip);

			image = $("#table").annotateImage({
				editable : true,
				useAjax : false,
				clear : false,
				notes : notes
			});

			if (toolTipsEnabled)
				addTooltips();

			if (isLastAnswer) {
				var num_annotations = $(".image-annotate-area").length;
				$.each($(".image-annotate-area"), function(index) {
					if (index == num_annotations - 1) {
						$(this).trigger("click");
					}
				});
			}

			pybossa.getCurrentUserId(function(userId) {
				initSharer(task_id, userId);
			});

		} else { // Return to tt1 or collaborate page
			unblockUI();
			$(".skeleton").hide();
			$("#finish").fadeIn(100, function() {
				setTimeout(function() {
					redirectToANewTask(getARandomTask());
				}, 1500);
			});
		}

		if ($("#button_share").hasClass("active")) {
			disableShare();
		}
	}

	function redirectToANewTask(taskSufix) {
		window.open(endpoint + "/app/"
				+ app_shortname.replace("_tt2", "_" + taskSufix) + "/newtask",
				"_self");
	}

	function getARandomTask() {
		var nextTaskArr = [ "tt1", "tt3", "tt4" ];
		return nextTaskArr[getRandomInt(0, nextTaskArr.length - 1)];
	}

	function getRandomInt(min, max) {
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	// Function to submit and save the TaskRun in PyBossa
	function submitTask(answer) {
		$("[rel=popover]").popover("hide");

		// Get the task-id
		taskid = $("#task-id").text();

		var annotatedTables = $.fn.annotateImage.exportJsonData();
		var answerToSave = answer == "0" || annotatedTables == "[]" ? "0"
				: annotatedTables;

		// Save the task
		pybossa.saveTask(taskid, answerToSave).done(
				function(data) {

					var cookie_name = isLastAnswer ? 'finished_t2_correction'
							: 'finished_t2';
					$.cookie(cookie_name, true, {
						expires : COOKIE_EXPIRATION,
						path : '/'
					});

					taskRunDone(taskid);
					$.fn.annotateImage.clear(image);

					blockUI();

					// Load a new task
					pybossa.newTask(app_shortname).done(function(data) {
						loadData(data)
					});
				});
	}

	pybossa.setEndpoint(endpoint);
	pybossa.newTask(app_shortname).done(function(data) {
		loadData(data);
	});
</script>
<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js',
			'ga');

	ga('create', 'UA-16766566-2', 'socientize.eu');
	ga('send', 'pageview');
</script>