<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">


<!-- tutorials -->
<div id="welcome" class="modal hide fade" data-backdrop="static" style="display: none;">
    <div class="modal-header">
        <h3>Bem vindo ao Tutorial</h3>
    </div>
    <div class="modal-body">
        <div id="0">
            <p>O objetivo desta aplicação é calibrar um algoritmo de reconhecimento 
            da estrutura das tabelas que queremos recuperar no projeto 
            Memória Estatística do Brasil.</p> 
        </div>
        <div id="1" style="display:none;">
            <p>Cada tarefa que precisa de solução exibe uma mesma imagem
            com duas grades vermelhas diferentes. O que precisamos descobrir
            é qual grade melhor se encaixa na estrutura da tabela.</p>            
            <img class="tutorial" src="#server/images/tutorial-meta-struct/model0_1.png" style=" margin-right: 7px; position: relative; float: left; padding:5px; border: 1px solid rgb(0, 0, 0.1); box-shadow: 0 0 5px #888;">
            <img src="#server/images/tutorial-meta-struct/model0_2.png" style=" margin-right:7px; position: relative; float: left; padding:5px; border: 1px solid rgb(0, 0, 0.1); box-shadow: 0 0 5px #888;"/>
            <p>Neste exemplo, a imagem superior contém menos erros na identificação das colunas e linhas da tabela.</p>
        
        </div>
        <div id="2" style="display:none;">
            <p>Para selecionar sua reposta, basta clicar no botão abaixo da
            grade vermelha melhor posicionada sobre a tabela da imagem</p>
            <img class="tutorial" src="#server/images/tutorial-meta-struct/select.gif" style="padding:5px; border: 1px solid rgb(0, 0, 0.1); box-shadow: 0 0 5px #888;">
            <p>Após sua resposta, a tarefa será finalizada
            e uma nova tarefa disponibilizada com novas imagens.</p>
        </div>
        <div id="3" style="display:none;">
            <p>Caso você necessite, é possível aumentar ou diminuir o zoom das imagens.</p>
            <img class="tutorial" src="#server/images/tutorial-meta-struct/zoom.gif" style="padding:5px; border: 1px solid rgb(0, 0, 0.1); box-shadow: 0 0 5px #888;">
        </div>
        <div id="4" style="display:none;">
            <p>Para mover lateralmente ou verticalmente a imagem, utilize a barra de rolagem: </p>
            <img class="tutorial" src="#server/images/tutorial-meta-struct/rolagem.gif" style="padding:5px; border: 1px solid rgb(0, 0, 0.1); box-shadow: 0 0 5px #888;">
        </div>
        <div id="5" style="display:none;">
            <p>Em alguns casos, ambas as grades podem estar erradas.
            Nestes casos, procuramos a grade que precise de menos correções
            para se encaixar perfeitamente na estrutura da tabela, delimitando todas
            as células que têm dados, e sem células que não contém dados (vazias, com lixo, etc.). </p>
            <img class="tutorial" src="#server/images/tutorial-meta-struct/select.gif" style="padding:5px; border: 1px solid rgb(0, 0, 0.1); box-shadow: 0 0 5px #888;">
        </div>
        
          <div id="6" style="display:none;">
              <p>Caso as grades estejam muito mal construídas sobre as 
              tabelas das imagens, a resposta deve ser: ambas as grades estão muito ruins. Exemplo: </p>
            <img class="tutorial" src="#server/images/tutorial-meta-struct/ruins.gif" style="padding:5px; border: 1px solid rgb(0, 0, 0.1); box-shadow: 0 0 5px #888;">
        </div>


    </div>

    <div class="modal-footer">
        <button id="prev" class="btn" onclick="show('p')" style="display:none"><i class="icon-chevron-left"></i> Anterior</button>
        <button id="next" class="btn btn-success" onclick="show('n')">Próximo <i class="icon-chevron-right"></i> </button>
    </div>
</div>

</div>

<script src="/static/js/pybossa/pybossa.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    
var tut = 0;

function show(method){

    if (method=='n') {
        tut = tut + 1;
    }
    else {
        tut = tut - 1;
    }

    if(tut == 0)    $(".modal-header h3").text("Bem vindo ao Tutorial");    
    else if(tut == 1) $(".modal-header h3").text("Objetivo");
    else if(tut == 2) $(".modal-header h3").text("Respondendo");
    else if(tut == 3) $(".modal-header h3").text("Zoom");
    else if(tut == 4) $(".modal-header h3").text("Rolagem");
    else if(tut == 5) $(".modal-header h3").text("Dica");
    else if(tut == 6) $(".modal-header h3").text("Dica");
    else $(".modal-header h3").text("Bem vindo ao Tutorial");

    var max = 7;
    var min = 0;

    if (tut < max) {
        if (tut == min) {
            $("#prev").hide();
        }
        else{
            $("#prev").show();
        }
        if (method=="n") {
            $("#" + (tut-1)).hide();
        }
        else {
            $("#" + (tut+1)).hide();
        }
        $("#" + tut).show();
        
     
    }
    else {
        $("#welcome").modal("hide");
    }
}

$("#welcome").modal("show");

</script>
