<!DOCTYPE HTML>
<html>
   <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Memória Estatística do Brasil</title>

    <!-- Le styles -->
    <link href="/pybossa/static/vendor/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/pybossa/static/css/fonts/stylesheet.css" rel="stylesheet">
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">

    <!-- Le javascript -->
    <script src="{{url_for('static', filename='js/jquery-1.7.1.js')}}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/2.1.0/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-ui-1.8.22.custom.min.js')}}" type="text/javascript" charset="utf-8"></script>
   </head> 
    <header>
        {% include "header.html" ignore missing %}    
    </header>
    <body>
        {% set active_page = active_page | default('index') -%}
        {% include "navbar.html" %}
        {% block content %}{% endblock %}           
   </body>
    <footer>
        {% include "footer.html" ignore missing %}
    </footer>
</html>

