<style>
#footer_links .span2 {
	width: 117px;
}
</style>

<div id="footer_links" class="container">
          <div class="container">
		  <div class="row">
			  <div class="span2">
			      <a href="http://www.lsd.ufcg.edu.br/" target="_blank"><img src="{{ url_for('static', filename="images/lsdlogo.png") }}" style="height:57px"></a>
			  </div>
			  <div class="span2">
			      <a href="http://www.channah.com.br/meb/" target="_blank"><img src="{{ url_for('static', filename="images/meb_icon.png") }}" style="height:57px"></a>
			  </div>
			  <div class="span2">
			      <a href="http://www.ipea.gov.br/portal/" target="_blank"><img src="{{ url_for('static', filename="images/logoipea.png") }}" style="height:57px"></a>
			  </div>
			  <div class="span2">
			      <a href="http://ec.europa.eu/" target="_blank"><img src="{{ url_for('static', filename="images/commlogo.jpg") }}"></a>
			  </div>
			  <div class="span2">
			      <a href="http://cordis.europa.eu/fp7/home_en.html" target="_blank"><img src="{{ url_for('static', filename="images/fp7logo.jpg") }}"></a>
			  </div>
			  <div class="span2">
			      <a href="http://europa.eu/" target="_blank"><img src="{{ url_for('static', filename="images/eulogo.jpg") }}"></a>
			  </div>
			  <div class="span2">
			      <a href="http://pybossa.com/" target="_blank"><img src="{{ url_for('static', filename="images/pybossa.png") }}"></a>
			  </div>
		  </div>
        </div>
</div>

