      <div class="row">
        <div id="info" class="span12">
          <hr>
          <div class="row">
              <div class="span4 offset2">
                  <a href="http://lsd.ufcg.edu.br">
                  <img src="{{ url_for('static', filename="images/lsdlogo.png") }}">
                  </a>
              </div>
              <div class="span4">
                  <a href="http://www.ipea.gov.br/portal/">
                  <img src="{{ url_for('static', filename="images/logoipea.png") }}">
                  </a>
              </div>
          </div>
          <p><a class="btn btn-mini" href="http://github.com/PyBossa/app-tabletranscriber"><i class="icon-github"></i>Github</a></p>
        </div>
    </div>

