{% extends "/base.html" %}
{% block content %}
{% set active_page = "index" %}

<style>
#button-container {
	margin-top: 20px;
	margin-left: auto;
	width: 313px;
	margin-right: auto;
	font-weight: bold;
}
</style>

<div class="container-wrapper">
	<div class="container well">
		<h1>Mem&oacuteria Estat&iacute;stica do Brasil</h1>
		<p>O projeto Mem&oacute;ria Estat&iacute;stica do Brasil (MEB) objetiva selecionar,
			digitalizar e transcrever para arquivos edit&aacute;veis,
			publica&ccedil;&otilde;es históricas relevantes para a história
			estat&iacute;stica do Brasil. Estas publica&ccedil;&otilde;es, no
			momento vindas da <a href="http://memoria.org.br/o_projeto.php" target="_blank">Biblioteca do Minist&eacute;rio da Fazenda no Rio de Janeiro (BMF/RJ)</a>,
			t&ecirc;m a memória estat&iacute;stica do Brasil nas &aacute;reas de
			demografia, economia, finan&ccedil;as, administra&ccedil;&atilde;o
			p&uacute;blica, transporte, educa&ccedil;&atilde;o, sa&uacute;de,
			entre outras.</p>

		<p>Nossa aplica&ccedil;&atilde;o objetiva contribuir para extrair
			os dados contidos nas publica&ccedil;&otilde;es digitalizadas do
			projeto MEB e foi desenvolvida da
			seguinte forma:
		<p>
			Em <a href="/mb/collaborate" target="_blank">colabore</a> você poder&aacute; escolher
			com qual publica&ccedil;&atilde;o deseja contribuir clicando sobre o
			nome do livro. Ap&oacute;s selecionar a publica&ccedil;&atilde;o alvo
			você ser&aacute; redirecionado para uma micro-tarefa que
			comp&otilde;e um conjunto de tarefas necess&aacute;rias para a
			transcri&ccedil;&atilde;o.
		</p>

		<ul>
			<p>Existem quatro tipos de tarefas que s&atilde;o geradas de
				acordo com as respostas fornecidas pelos usu&aacute;rios, essas
				tarefas s&atilde;o:</p>

			<li><strong>Tarefa de sele&ccedil;&atilde;o</strong>: Nessa
				tarefa você ser&aacute; apresentado a uma p&aacute;gina de um livro.
				E dever&aacute; responder sim caso haja uma tabela naquela
				p&aacute;gina, n&atilde;o caso n&atilde;o haja tabela, ou n&atilde;o
				sei em caso de d&uacute;vida.</li>
			<br />

			<li><strong>Tarefa de marca&ccedil;&atilde;o</strong>: Nessa
				tarefa ser&aacute; apresentado uma p&aacute;gina de um livro. Você
				dever&aacute; ent&atilde;o delimitar a &aacute;rea das tabelas
				contidas nessa p&aacute;gina utilizando o mouse para desenhar uma
				moldura sobre a &aacute;rea de cada tabela. Ap&oacute;s o desenho de
				uma moldura, ser&aacute; apresentado um formul&aacute;rio que
				dever&aacute; ser preenchido com as informa&ccedil;&otilde;es
				solicitadas.</li>
			<br />

			<li><strong>Tarefa de desenho da estrutura</strong>: Nessa
				tarefa ser&aacute; apresentada uma tabela com as suas linhas e
				colunas que foram reconhecidas automaticamente por um computador. O
				volunt&aacute;rio dever&aacute; ajustar estes segmentos de modo a
				demarcar perfeitamente todas as c&eacute;lulas da tabela.</li>
			<br />

			<li><strong>Tarefa de transcri&ccedil;&atilde;o</strong>: Nessa
				tarefa ser&aacute; apresentado o resultado do OCR (reconhecimento
				&oacute;tico de caracteres) para as c&eacute;lulas identificadas na
				etapa anterior, e ser&aacute; pedido ao volunt&aacute;rio para que
				ele verifique e corrija esse resultado.</li>
		</ul>
		<br />

		<p>Durante a execu&ccedil;&atilde;o dessas tarefas, voc&ecirc;
			poder&aacute; escolher se deseja fazer uma tarefa diferente da que
			est&aacute; realizando no momento clicando sobre um bot&atilde;o que
			aparecer&aacute;, sempre que existir uma tarefa diferente
			dispon&iacute;vel.</p>
			
		<!-- Botão para contribuir com o Memória Estatística Brasil-->
		<div id="button-container">
			<a class="btn btn-success" style="padding: 4px 12px;" href="/mb/collaborate"><i class="icon icon-white icon-ok" style="margin-right: 8px;"></i>Colabore você também para o Memória Estatística do Brasil!</a>
		</div>
	</div>
</div>

{% endblock %}
