   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse collapse">
            <ul class="nav">
                <li {% if active_page == "index"  %} class="active" {% endif %}> <a href="{{ url_for('home')  }}"><i class="icon-home icon-white"></i> Home</a></li>
              <li {% if active_page == "collaborate"  %} class="active" {% endif %}><a href="{{ url_for('collaborate.index')}}"><i class="icon-globe icon-white"></i>Colabore</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
