<div class="navbar navbar-fixed-top">
	<div class="navbar-inner" style="background: #FFF">
		<div class="container" style="height: 83px;">
			<a class="brand" href="/pybossa/" target="_blank"><img
				src="{{ url_for('static', filename='images/logo_societic.png') }}" alt="PyBossa"></a>
			<div class="nav-collapse collapse">
				<ul id="nav-buttons" class="nav">
					<li><a href="/pybossa/account/" target="_blank">Community</a></li>
					<li><a href="/pybossa/app/category/featured/" target="_blank">Applications</a></li>
					<li><a href="/pybossa/about" target="_blank">About</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
