{% block body %}

<div>
	<span style="float: left; margin-right: 10px"><strong>Progresso</strong>:</span>
	<div class="progress progress-success progress-striped">
		<div id="bar-{{book.info.bookid}}" class="bar"></div>
	</div>
</div>

<script type="text/javascript">
function getOverallProgress(host, bookId) {
	var request_url = "http://" + host + "/mb/collaborate/progress/" + bookId;
	  $.ajax({
		  	dataType: "json",
			url: request_url,
			success: function(response) {
				$("#bar-" + bookId).css("width", response.progress + "%");
		  }
	  });
}

getOverallProgress("{{host}}", "{{book.info.bookid}}");
</script>

{% endblock %}
