<style>
.long-description-paragraph{
width: 80%;
}
</style>

<div class="row">
    <div class="span12">
        <p class="long-description-paragraph">
        O Table Transcriber Meta é uma aplicação para o pybossa que visa a marcação
        de tabelas e transcrição de algumas informações em documentos históricos
        do Brasil, escaneados pelo <a href="http://www.ipea.gov.br/portal/" target="_blank">IPEA</a>.
        
        </p>
        <p class="long-description-paragraph">
        Esta aplicação utiliza imagens de documentos históricos digitalizados
        e visa a preparação dessas imagens para futuras tarefas. O objetivo final
        é conseguir que todas as tabelas contidas nesses documentos sejam disponibilizadas
        de forma editável.
   
        </p>
        
    </div>
</div>
<div class="row">
    <div class="span9">
        <p class="long-description-paragraph">          
        O que precisamos que seja feito nessa tarefa é a marcação da área da tabela, e após essa marcação
        a transcrição de algumas informações importantes, referentes a essas tabelas.
        </p>
        <p class="long-description-paragraph">
        A aplicação possui a seguintes ações: 
        <ul>
            <li><a href="#" rel="tooltip" title="Marcação feita utilizando o mouse">Marcação das tabelas</a></li>
            <li><a href="#" rel="tooltip" title="Após a marcação da área da tabela, será exibido um formulário para ser preenchido">Transcrição dos dados requisitados</a></li>
            <li><a href="#" rel="tooltip" title="Submissão da tarefa com marcações feitas">Salvar as marcações ou</a></li>
            <li><a href="#" rel="tooltip" title="Algumas imagens podem vir sem tabelas, então a resposta pode ser apenas essa">Não há tabela</a></li>
        </ul>
        </p>
    </div>
    <div class="span2">
        <ul class="thumbnails">
            <li class="span2">
            <img class="thumbnail" src="#server/images/long_description.png">
            </li>
        </ul>
    </div>
</div>
<div>
    <a class="offset3 btn btn-large btn-info" href="#task_shortname#/newtask">Colabore</a>
</div>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
</script>
