<style>
.long-description-paragraph{
width: 80%;
}
</style>

<div class="row">
    <div class="span12">
        <p class="long-description-paragraph">
        O projeto <a href="www.memoriaestatistica.com.br" target="_blank">Memória Estatística</a> objetiva selecionar,
        digitalizar e, sempre que  possivel transcrever para arquivos editáveis,
        as  publicações históricas (e eventuais documentos, seriados ou não) relevantes 
        para a história estatística do Brasil nas áreas de  demografia, economia, 
        finanças, administração pública, transporte, educação, saúde e sociais em geral.
        
        </p>
        
         <p class="long-description-paragraph">
      
        Esta aplicação faz parte de uma das etapas da transcrição desses documentos.
        O desafio está em reconhecer a estrutura em tabelas que não seguem um 
        padrão lógico. A ideia é tentar analisar as células que foram identificadas e as que não foram,
        e a partir disso julgar se a identificação foi melhor ou pior.
        </p>

        <p class="long-description-paragraph">
        No processo de identificação automático das células, cada tabela passa
        por um processamento que vai definir a estrutura da tabela. 
        Este processamento é realizado usando modelos distintos de identificação,
        uma vez que o espaçamento entre as linhas, colunas, palavras e até mesmo os caracteres 
        interfere numa melhor ou pior identicação, fazendo com que mais ou menos células 
        sejam corretamente identificadas na tabela em questão.
        </p>
               
    </div>
</div>
<div class="row">
    <div class="span9">
        <p class="long-description-paragraph">          
        O que precisamos que seja feito nessa tarefa é a observação da melhor estrutura de tabela
        construída em vermelho por cima das imagens, identificando a melhor, selecioná-la.
        </p>
    </div>
    <div class="span2">
        <ul class="thumbnails">
            <li class="span2">
            <img class="thumbnail" src="#server/images/tutorial-meta-struct/select.gif">
            </li>
        </ul>
    </div>
</div>
<div>
    <a class="offset3 btn btn-large btn-info" href="tt-meta-struct/newtask">Colabore</a>
</div>
