<style type="text/css">
    #throbber {
        padding: 10px;
        position:absolute;
        left: 50%;
        top:50%;
        margin: -50px 0 0 -50px;
        z-index: 10000;
        width: 100px;
        height: 100px;
    }
    
    .ttImage{
		width: 550px;
		height: 700px; 
		border: 1px solid;   
    }
</style>

<div class="row">

  <div class="span8 offset2" style="height:50px">
  	
   	<div id="success" class="alert alert-success" style="display:none;">
	   	<a class="close">x</a>
	    <p><span><strong>#</strong></span><span>#</span></p>
	</div>
    <div id="finish" class="alert alert-success" style="display:none;">
      <p><span><strong>#</strong></span><span>#</span></p>
      <br/>
    </div>
    <div id="error" class="alert alert-error" style="display:none;">
      <a class="close">x</a>
      <p><span><strong>#</strong></span><span>#</span></p>
  </div>
  <div id="workflowtask" class="alert alert-success" style="display:none; cursor:pointer; position:relative">
        <a class="close"></a>
       <p><span>#</span></p>
    </div>

  </div> <!-- End Success and Error Messages for the user -->
</div>


<div id="throbber"></div>

<div class="row skeleton">
  <div id="question" class="span8 offset2">
      <h2>Question</h2>
      <p><span>#</span><span id="task-id" class="label label-warning">#</span></p>
  </div>
</div>

<div class="row skeleton">
      <!-- Answer buttons -->
      <div id="answer" class="span8 offset2">
          <button id="button_yes" class="btn btn-success" onclick="submitTask('Yes')"><i class="icon icon-white icon-ok"></i></button>
          <button id="button_no" class="btn btn-danger" onclick="submitTask('No')"><i class="icon icon-white icon-remove"></i></button>
          <button id="button_ntk" class="btn" onclick="submitTask('NotKnown')"><i class="icon icon-white icon-refresh"></i></button>
      </div>
</div>

<div class="row skeleton" style="padding: 10px;">
   <div class="span8 offset2">	
    <a id="image-link" href="#" target="_blank">
      <img id="image" class=ttImage src="#" onload="spinnerStop()">
    </a>
    
  </div>
</div>

<div class="row skeleton">
<div id="disqus_thread" class="span8 offset2"></div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'lsdpybossa'; // required: replace example with your forum shortname
    //var disqus_developer = 1;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<script src="/static/js/pybossa/pybossa.js" type="text/javascript"></script>
<script src="/static/js/throbber/throbber.js" type="text/javascript"></script>
<script type="text/javascript" src="#server/js/jquery.i18n.min.js"></script>
<script type="text/javascript" src="#server/js/tt-select-i18n.js"></script>
<script type="text/javascript" src="http://malsup.github.com/jquery.blockUI.js"></script>

<script>


$(window).load(function(){
		$("#question h2").text($.i18n._('question'));
		$("#question span:first").text($.i18n._('task_name'));
		$("#button_yes").text($.i18n._('button_yes'));
		$("#button_no").text($.i18n._('button_no'));
		$("#button_ntk").text($.i18n._('button_ntk'));
		$("#success strong").text($.i18n._('well_done'));
		$("#success span:nth-child(2)").text($.i18n._('saved'));
		$("#finish strong").text($.i18n._('congratulations'));
		$("#finish span:nth-child(2)").text($.i18n._('finished'));
		$("#error strong").text($.i18n._('error'));
		$("#error span:nth-child(2)").text($.i18n._('err_msg'));
        $("#workflowtask span:first").text($.i18n._('workflowtask'));
		
}); //Internationalization using jquery.i18n

var task_shortname = "#task_shortname#";
var endpoint = "/pybossa";

var spinner = new Throbber({
    color: 'black',
    size: 90
});
spinner.appendTo (document.getElementById('throbber'));

function spinnerStart() {
    $("#throbber").show();
    spinner.start();
}
function spinnerStop() {
    spinner.stop()
    $("#throbber").hide();
    $.unblockUI();
    
}

function taskRunDone(taskId){
    $.ajax({
        url: '/tt/api/'+taskId+'/done',
        success: function(data){
                enableNextTask(taskId);
            }
        });
}

function enableNextTask(taskId){
    $.ajax({
        url: '/tt/api/' + taskId + '/available_tasks',
        success: function(data){
            if(data == "True"){
                $("#workflowtask").fadeIn(200);
            }
        }
    });

    $("#workflowtask").click(function(){
                window.open(endpoint + "/app/" + task_shortname.replace("_tt1", "_tt2")  + "/newtask", "_self");
    });
}


function loadData( data ) {

	 if ( !$.isEmptyObject(data.task) ) {
	        spinnerStart();
	        $("#task-id").text(data.task.id);
	        $("#image-link").attr("href", data.task.info.url_b);
	        $("#image").attr("src",data.task.info.url_m);
	    }
   else {
        $(".skeleton").hide();
        $("#finish").fadeIn();
   }

	}

	// Function to submit and save the TaskRun in PyBossa
	function submitTask(answer) {
		// Get the task-id
		taskid = $("#task-id").text();
		
		// Save the task
		pybossa.saveTask(taskid, answer).done(function(data) {
            //Call tt workflow api.
            taskRunDone(taskid);

           $.blockUI({message: $("#success"),
                        css: {height: $("#success").height()}
            });
			// Load a new task
            pybossa.newTask(task_shortname).done(function(data) {

				loadData(data);
			});
		});
	}

    pybossa.setEndpoint(endpoint);
    pybossa.newTask(task_shortname).done( function( data ) { loadData( data ) });
    
</script>
