<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<div class="row skeleton">
        
    <div id="container" style="margin: 20px"></div>
        <div id="task-id"></div>

    <!--  Radio buttons para definir qual a ação que o usuário -->
    <p>
        <!-- Opção remover segmento -->
        <input type="radio" name="acao" id="remover" class="remover"
            value="remover" checked="checked" /> <label for="remover">Remover
            Segmento</label>

        <!-- Opção mover segmento -->
        <input type="radio" name="acao" id="mover" class="mover" value="mover" />
        <label for="mover">Mover Segmento</label>

        <!-- Opção remover linha -->
        <input type="radio" name="acao" id="removerLinha" class="removerLinha"
            value="removerLinha" /> <label for="removerLinha">Remover
            Linha</label>

        <!-- Opção mover linha -->
        <input type="radio" name="acao" id="moverLinha" class="moverLinha"
            value="moverLinha" /> <label for="moverLinha">Mover Linha</label>
            </p>
        <button onclick="submitTask()">Concluído</button>

</div>

<script src="#server/js/kinetic.js"></script>
<script src="#server/js/tt3.js" type="text/javascript" charset="utf-8"></script>

<style>

canvas {
	border: 1px solid #9C9898;
}
</style>    
    
<script type="text/javascript" charset="utf-8">

    var task_shortname = "#task_shortname#";
    var endpoint = "/pybossa";
    var img_url;

    function loadData( data ) {

	 if ( !$.isEmptyObject(data.task) ) {
         $("#task-id").text(data.task.id);
         var coords = data.task.info.coords;
         img_url = data.task.info.img_url;
         initGrid(coords, img_url);
	    }
   else {
        $(".skeleton").hide();
        $("#finish").fadeIn();
   }

	}

	// Function to submit and save the TaskRun in PyBossa
function submitTask() {
        // Get grid infos

        var gridCoords = salvarAlteracoes();

        var answer = {'img_url' : img_url, 'coords': gridCoords};
		// Get the task-id
		taskid = $("#task-id").text();
		
		// Save the task
		pybossa.saveTask(taskid, answer).done(function(data) {
            //Call tt workflow api.
            //taskRunDone(taskid);
            clearCanvas();

          // $.blockUI({message: $("#success"),
          //              css: {height: $("#success").height()}
          //  });
			// Load a new task
            pybossa.newTask(task_shortname).done(function(data) {

				loadData(data);
			});
		});
	}

pybossa.setEndpoint(endpoint);

$(window).load(function(){
        pybossa.newTask(task_shortname).done(
            function( data ) {
                loadData( data )
                });
        
});

</script>
