<style type="text/css">
    #throbber {
        padding: 10px;
        position:absolute;
        left: 50%;
        top:10%;
        margin: -50px 0 0 -50px;
        z-index: 10000;
        width: 100px;
        height: 100px;
    }
</style>

<div class="row">

  <div class="span8 offset2" style="height:50px">
    <div id="success" class="alert alert-success" style="display:none;">
      <a class="close">×</a>
      <strong>Muito bem!</strong> Sua resposta foi salva</strong>
    </div>
    <div id="finish" class="alert alert-success" style="display:none;">
      <strong>Parabéns!</strong> Todas as tarefas foram finalizadas</strong>
    </div>
    <div id="error" class="alert alert-error" style="display:none;">
      <a class="close">×</a>
      <strong>Erro!</strong> Algo ocorreu errado, por favor contate o administrador do site.</strong>
    </div>
      <div id="workflowtask" class="alert alert-success" style="display:none; cursor:pointer; position:relative">
        <a class="close"></a>
       <p><span>Existe um novo tipo de tarefa disponível. Clique para ir.</span></p>
    </div>
  </div> <!-- End Success and Error Messages for the user -->
</div>


<div id="throbber"></div>

<div class="row skeleton">
  <div id="question" class="span8 offset2">
      <h2>Question</h2>
      <p><span style="display:none;" id="task-id" class="label label-warning"></span></p>
  </div>
</div>

<div class="row skeleton">
      <!-- Answer buttons -->
      <div id="answer" class="span8 offset2">
          <button id="button" class="btn btn-success" onclick="submitTask()"><i class="icon icon-white icon-ok"></i> Salvar essas marcações</button>
          <button id="button" class="btn small" onclick="submitTask('0')"><i class="icon icon-white icon-ok"></i> Não há tabelas</button>
          <p><span id="progress-from">Voc&ecir; est&aacute; na tarefa: </span><span id="done" class="label label-info"></span><span id="progress-to">de </span>
          <!-- Progress bar for the user -->
          <span id="total" class="label label-inverse"></span></p>
            <div class="progress progress-striped">
            <div id="progress" rel="tooltip" title="#" class="bar" style="width: 0%;"></div>
            </div>
 
      </div>
</div>

<div class="row skeleton" style="padding:10px; padding-bottom: 40px;">
  <div id="TTImage" class="TTImageContainer">
      <img id="table" class="TTImage"  src="#" onload="spinnerStop()">
  </div>
</div>

<div class="row skeleton">
<div id="disqus_thread" class="span8 offset2"></div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'lsdpybossa'; // required: replace example with your forum shortname
    //var disqus_developer = 1;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


<script src="/static/js/pybossa/pybossa.js" type="text/javascript"></script>
<script src="/static/js/throbber/throbber.js" type="text/javascript"></script>
<script src="#server/js/jquery.annotate.js" type="text/javascript"></script>
<script type="text/javascript" src="#server/js/jquery-ui-1.8.22.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="#server/css/annotation.css"/>
<link rel="stylesheet" type="text/css" href="#server/css/tt-meta.css"/>


<script>
var task_shortname = "#task_shortname#";
var endpoint = "/pybossa";

function loadUserProgress() {
    pybossa.userProgress(task_shortname).done(function(data){
        var pct = Math.round((data.done*100)/data.total);
        $("#progress").css("width", pct.toString() +"%");
        $("#progress").attr("title", pct.toString() + "% completed!");
        $("#progress").tooltip({'placement': 'left'}); 
        $("#total").text(data.total);
        $("#done").text(data.done);
    });
}

function taskRunDone(taskId){
    return $.ajax({
        url: '/tt/api/'+taskid+'/done',
        success: function(data){
            //enableNextTask(taskId);
        }
    });
}

/*function enableNextTask(taskId){
    $.ajax({
        url: '/tt/api/' + taskId + '/available_tasks',
        success: function(data){
            if(data == "True"){
                $("#workflowtask").fadeIn(200);
            }
        }
    });

    $("#workflowtask").click(function(){
                window.open(endpoint + "/app/" + task_shortname.replace("_tt2", "_tt3")  + "/newtask", "_self");
    });
}*/

var spinner = new Throbber({
    color: 'black',
    size: 90
});
spinner.appendTo (document.getElementById('throbber'));

function spinnerStart() {
    $("#throbber").show();
    spinner.start();
}
function spinnerStop() {
    spinner.stop()
    $("#throbber").hide();
    
}

function loadData( data ) {

    if ( !$.isEmptyObject(data.task) ) {
        spinnerStart();
        loadUserProgress();
        $("#question h2").text(data.question);
        $("#task-id").text(data.task.id);
        $("#table").attr("src",data.task.info.link);

        var notes = data.task.info.last_answer != undefined ? JSON.parse(data.task.info.last_answer) : [];

        console.log(notes);

        
        image = $("#table").annotateImage({
	      editable: true,
	      useAjax: false,
	      clear: false,
	      notes: notes });
    }
    else {  // Return to tt1 or collaborate page
        var task_id = $("#task-id").text();
        console.log(task_id);

        $(".skeleton").hide();
        $("#finish").fadeIn(100, function(){
        
            $.ajax({
            url: '/tt/api/' + task_id + '/available_tasks',
            success: function(data){
                if(data == "True"){
                    window.open(endpoint + "/app/" + task_shortname.replace("_tt2", "_tt1")  + "/newtask", "_self");
                }
                else{
                    window.open("/tt/collaborate", "_self");
                }
            }
            }); 
        });
       
    }
}

// Function to submit and save the TaskRun in PyBossa
function submitTask(answer) {
    // Get the task-id
    taskid = $("#task-id").text();
    
    answer = answer == "0"? "0" : $.fn.annotateImage.exportJsonData();


    // Save the task
    pybossa.saveTask(taskid, answer).done( function( data ) {

        taskRunDone(taskid);
        $("#success").fadeIn();
        $.fn.annotateImage.clear(image);
        setTimeout(function() { $("#success").fadeOut() }, 2000);
        // Load a new task
        pybossa.newTask(task_shortname).done( function( data ){ loadData( data ) });
    });
}

pybossa.setEndpoint(endpoint);
pybossa.newTask(task_shortname).done( function( data ) { loadData( data ) });
</script>
